<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mais Informações Situações</title>
    <link rel="stylesheet" href="/css/infoSit.css">
</head>

<body>
    <header>
        <button type="button" class="botao-header" id="esquerda"><b>Situações de Sociabilidade</b></button>
        <button type="button" class="botao-header" id="meio"><b>Mais Informações</b></button>
        <button type="button" class="botao-header" id="direita"><b>Comentários</b></button>
        <button type="button" class="botao-header" id="voltar"><b>Início</b></button>
    </header>

    <div class="div">
        <div class="curiosidade">
            <h2><b>Sabia que o crime de racismo engloba muito mais do que a sua raça?</b></h2>
            <p>Sabia que o crime de racismo engloba muito mais do que a sua raça?
                a Lei nº 9.459/1997, que alterou a Lei nº 7.716/1989, é conhecida como a Lei de Crimes de Racismo.Casos
                como intolerância religiosa, homofobia, transfobia e xenofobia estão englobados nessa mesma lei, podendo
                variar em uma pena de 1 a 5 anos de reclusão.
                <br>
                Em proteção das mulheres em casos de misoginia, a Lei Maria da Penha (Lei nº 11.340/2006) entra em ação.
                Ela serve para prevenir a violência doméstica e familiar, que pode ser física, psicológica, sexual,
                patrimonial ou moral. Outros crimes previstos no Código Penal e em leis especiais podem entrar nesse
                meio, como: Injúria e Calúnia, Lesão Corporal e Agressão, Ameaça e Feminicídio.
        </div>
    </div>

    <div class="div">
        <div class="curiosidade">
            <h2><b>Você conhece Teresa de Lauretis?</b></h2>
            <p>Teresa de Lauretis é uma filósofa e teórica italiana, uma das principais vozes do feminismo e dos estudos
                de cinema e gênero. Ela é conhecida por criar o termo "teoria queer" e por desenvolver o conceito de
                "tecnologias de gênero", que defende que o gênero é uma construção social e que o cinema e a mídia são
                ferramentas para isso.</p>
        </div>
    </div>

    <div class="div">
        <div class="curiosidade">
            <h2><b>Você conhece Djamila Ribeiro?</b></h2>
            <p>Djamila Ribeiro é uma filósofa, escritora e ativista brasileira, uma das vozes mais importantes do
                feminismo negro e da luta antirracista no país. Tendo destaque na sua obra “peneno manual antirracista”.
                Seu trabalho se destaca por popularizar conceitos como "lugar de fala" e interseccionalidade, mostrando
                que o racismo e o machismo são problemas estruturais e que as diferentes formas de opressão se conectam.
            </p>
        </div>
    </div>

    <div class="div">
        <div class="curiosidade">
            <h2><b>Você conhece a Patrícia Hill Collins?
                </b></h2>
            <p>Patricia Hill Collins é uma socióloga que expandiu a teoria da interseccionalidade, criada por Kimberlé
                Crenshaw. Para Collins, a interseccionalidade não é apenas sobre a combinação de raça e gênero, mas
                sobre a análise de um sistema de poder que se interliga e oprime. Ela introduziu o conceito de Matriz de
                Dominação para explicar como as opressões se manifestam em diferentes níveis da sociedade, de forma
                estrutural até as interações interpessoais. Ela explica que a sexualidade da mulher negra é afetada por
                um sistema de dominação que usa estereótipos como a "Jezebel" (vista como promíscua) e a "Mammy"
                (dessexualizada) para justificar a opressão e o racismo.</p>
        </div>
    </div>

    <div class="div">
        <div class="curiosidade">
            <h2><b>Já ouviu falar em "Foi Assim Que Tudo Explodiu"?</b></h2>
            <p>"Foi Assim Que Tudo Explodiu" é um livro do autor Arvin Ahmadi. A obra é um romance de ficção juvenil que
                explora temas como a descoberta da identidade, a aceitação familiar, o preconceito e a liberdade.
                Baseado na vida do autor, Amir que sempre soube que seria muito difícil se assumir pra sua família
                muçulmana extremamente conservadora se vê em um beco sem saída ao ser chantageado pelos valentões de sua
                escola, com a ameaça de não contar sobre a sexualidade dele para família em troca de dinheiro. Quando
                Amir não consegue mais pagar, ele foge no dia da sua formatura para Itália, vivendo uma vida paralela
                com amigos excêntricos e experiências inesquecíveis. “Foi assim que tudo explodiu” mostra o conflito
                tanto de amor quanto de sua família e o preconceito enraizado que existe nela e os obstáculos que os
                dois lados enfrentam dá suas próprias formas para tentar fazer tudo funcionar</p>
        </div>
    </div>

    <div class="div">
        <div class="curiosidade">
            <h2><b>Você conhece o musical “A Cor Purpura"?</b></h2>
            <p>A cor púrpura é um clássico da cultura norte-americana dos anos 80, sendo considerada uma obra que
                atravessa gerações e se mantém atemporal.
                Concebida por <strong>Alice Walker </strong>em 1982, a história ganhou ainda mais notoriedade após ser
                adaptada para o
                cinema três anos depois.
                A trama causou grande impacto e se tornou um ícone da luta feminista e do movimento negro ao apresentar
                a trajetória de Celie, uma mulher negra e pobre que vive no sul dos EUA no início no século XX. Ela
                sofre todo tipo de violência - sexual, racial e de classe - mas consegue trilhar seu próprio caminho
                mesmo diante das adversidades.
            </p>
        </div>
    </div>

    <div class="div">
        <div class="curiosidade">
            <h2><b>Você conhece a obra "O Bom-Crioulo"?</b></h2>
            <p>"O Bom-Crioulo" é um romance do brasileiro Adolfo Caminha, de 1895, considerado pioneiro na literatura
                brasileira por abordar a homossexualidade e a sexualidade negra. O livro conta a história de Amaro, um
                marinheiro negro, e seu amor por Aleixo, um jovem branco. A obra gerou escândalo na época, mas hoje é
                vista como uma crítica social corajosa contra o racismo e o preconceito.
            </p>
        </div>
    </div>

    <div class="div">
        <div class="curiosidade">
            <h2><b>Você conhece o Teste de Bechdel?</b></h2>
            <p>O Teste de Bechdel foi criado pela cartunista Alison Bechdel em 1985 para destacar a falta de
                representatividade das mulheres no cinema. Ele tem três regras simples: um filme precisa ter pelo menos
                duas mulheres, que conversam entre si, sobre algo que não seja um homem. O objetivo do teste não é
                avaliar a qualidade do filme, mas sim chamar a atenção para a forma limitada como as mulheres são
                retratadas em Hollywood.
            </p>
        </div>
    </div>

    <div class="div">
        <div class="curiosidade">
            <h2><b>Já leu "Xenofobia e Intolerância Linguística"?</b></h2>
            <p>Xenofobia e Intolerância Linguística é um livro de Jocenilson Ribeiro que analisa a xenofobia no Brasil.
                O autor argumenta que o preconceito não é só contra estrangeiros, mas também contra brasileiros de
                outras regiões, como os nordestinos. Ele foca em como a intolerância linguística (preconceito contra
                sotaques) é usada para reforçar essa hostilidade. O livro mostra que a xenofobia no país tem uma forte
                dimensão regional.
            </p>
        </div>
    </div>

    <div class="div">
        <div class="curiosidade">
            <h2><b>Conhece "O Que É Xenofobia?"? </b></h2>
            <p>"O Que É Xenofobia?"" é um livro infantojuvenil de Lutiana Valadares Fernandes Barbosa que explica o que
                é
                xenofobia de maneira acessível. A história segue Kauã, um menino indígena venezuelano que sofre
                preconceito na escola. A obra tem o objetivo pedagógico de ensinar às crianças sobre empatia, tolerância
                e a importância de respeitar as diferenças. O livro aborda um tema importante para um público mais jovem
                de forma leve, mostrando que crianças também precisam ter consciência sobre o preconceito para não
                reproduzi-lo.
            </p>
        </div>
    </div>

    <div class="div">
        <div class="curiosidade">
            <h2><b>Você conhece "Véspera"?</b></h2>
            <p>Véspera, de Carla Madeira, é um romance de 2022 que narra a crise de uma mulher chamada <strong>Alba
                </strong>que, em uma
                véspera de Natal, decide abandonar sua família. O livro é um retrato do <strong>abuso
                    psicológico</strong> e <strong>emocional</strong> em
                um casamento, mostrando como as violências silenciosas e a falta de comunicação podem minar um
                relacionamento. A história explora, também, a complexa relação entre a <strong>maternidade</strong> e a
                culpa. o livro
                aborda de temas sensíveis, mostrando como o machismo e misoginia estrutural moldam a mulher na sociedade
                moderna e como a influência dentro de relacionamentos abusivos.
            </p>
        </div>
    </div>

    <div class="div">
        <div class="curiosidade">
            <h2><b>Você conhece o Teste de Bechdel?</b></h2>
            <p>O Teste de Bechdel foi criado pela cartunista Alison Bechdel em 1985 para destacar a falta de
                representatividade das mulheres no cinema. Ele tem três regras simples: um filme precisa ter pelo menos
                duas mulheres, que conversam entre si, sobre algo que não seja um homem. O objetivo do teste não é
                avaliar a qualidade do filme, mas sim chamar a atenção para a forma limitada como as mulheres são
                retratadas em Hollywood.
            </p>
        </div>
    </div>

    <div class="div">
        <button type="button" class="topo" id="btnTopo">Voltar ao Topo</button>
    </div>

    <script src="/js/infoSit.js"></script>
</body>

</html>