<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>administrador</title>
</head>

<body>
    <div th:each="situacao : ${situacoes}">
        <h2 th:text="${situacao.nome}"></h2>
        <p th:text="${situacao.comentario}"></p>
        <button style="background-color: red; color: aliceblue;"><a th:href="@{'/comentario/deletar/' + ${situacao.id}}" onclick="return confirm('Deseja realmente excluir esta espécie?');">Excluir</a></button>
    </div>

</body>

</html>