<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deficiências</title>
  <link rel="stylesheet" href="/css/deficiencia.css">
</head>

<body>
  <header>
    <button type="button" class="botao-header" id="esquerda"><b>Deficiciências Físicas</b></button>
    <button type="button" class="botao-header" id="meio"><b>Mais Informações</b></button>
    <button type="button" class="botao-header" id="direita"><b>Comentários</b></button>
  </header>

  <div id="informacao">
    <h1>Deficiências Físicas</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <div class="botao-container">
    <button class="botao" type="button">Comente aqui</button>
    <span class="estrela esquerda1"></span>
    <span class="estrela esquerda2"></span>
    <span class="estrela esquerda3"></span>
    <span class="estrela direita1"></span>
    <span class="estrela direita2"></span>
    <span class="estrela direita3"></span>
  </div>

  <script src="/js/deficiencia.js"></script>

</body>

</html>