<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deficiências</title>
  <link rel="stylesheet" href="/css/deficiencia.css">
</head>

<body>
  <header>
    <button type="button" class="botao-header" id="esquerda"><b>Deficiciências Físicas</b></button>
    <button type="button" class="botao-header" id="meio"><b>Mais Informações</b></button>
    <button type="button" class="botao-header" id="direita"><b>Comentários</b></button>
    <button type="button" class="botao-header" id="voltar"><b>Início</b></button>
  </header>

  <div class="pai-flex">
    <div id="informacao">
      <h1><strong>Deficiências Físicas</strong></h1>
      <p>Deficiências são diferentes tipos de limitações funcionais que afetam a capacidade de uma pessoa, afetando sua
        mobilidade e interação com o ambiente. Pessoas com deficiências enfrentam uma série de desafios complexos e
        interligados no dia a dia. Essas dificuldades vão muito além das limitações de mobilidade, englobando questões
        sociais, estruturais e emocionais. Aqui temos alguns exemplos de diferentes deficiências e personagens da ficção
        que convivem e enfrentam essas dificuldades:</p>
    </div>
  </div>

  <div class="div">
    <div class="informacaoEsquerda">
      <h2><strong>Cegueira</strong></h2>
      <p>A cegueira é uma deficiência visual que pode ser congênita ou adquirida, variando entre cegueira total, quando
        não há percepção de luz, e baixa visão, quando existe visão parcial limitada. Pessoas cegas enfrentam
        dificuldades de acessibilidade, como falta de materiais em braile, barreiras arquitetônicas e transporte pouco
        adaptado, além da escassez de recursos digitais inclusivos. Também sofrem com preconceito, sendo muitas vezes
        subestimadas em suas capacidades acadêmicas, profissionais e sociais. Esses obstáculos impactam diretamente sua
        autonomia e integração social. aqui estão alguns personagens que enfrentam a cegueira em seu cotidiano</p>
    </div>
    <span class="estrela personagem1" id="estrela1" data-target="info1"></span>
    <span class="estrela personagem2" id="estrela2" data-target="info2"></span>
    <span class="estrela personagem3" id="estrela3" data-target="info3"></span>
    <div class="div">
      <div id="info1" class="infoEsquerda oculto info">
        <div class="card-flex">
          <img src="/img/personagem/demolidor-foto.png"
            style="height: 20vw; padding-left: 3vw;padding-top: 1vw; margin-top: 5vw;" class="personagem"
            alt="timmy turner">
          <img src="/img/logo/demolidor-logo.jpeg" class="logo" style="bottom: 78%; width: 10vw; height: 5vw;"
            alt="logo timmy turner">
          <div class="texto-descritivo">Matt Murdock, o Demolidor da Marvel, perdeu a visão ainda criança, mas
            desenvolveu sentidos sobre-humanos que substituem sua capacidade visual, como audição e tato aguçados,
            funcionando como um “radar” sensorial. Sua cegueira não o impede de lutar e atuar como advogado, mostrando
            autonomia e habilidades excepcionais. O personagem enfrenta desafios práticos da deficiência visual, mas
            também simboliza a superação do preconceito, provando que a cegueira não limita inteligência, força ou
            realização pessoal.</div>
        </div>
      </div>
      <div id="info2" class="infoEsquerda oculto info">
        <div class="card-flex">
          <img src="/img/personagem/toph.png" class="personagem" alt="timmy turner">
          <img src="/img/logo/toph-logo.png" class="logo" alt="logo timmy turner">
          <div class="texto-descritivo">Toph Beifong nasceu cega, mas desenvolveu a dobra de terra por meio da percepção
            sísmica, permitindo que “enxergue” através das vibrações no chão. Ela enfrenta desafios de mobilidade e
            preconceito, especialmente por sua família superprotetora, mas sua habilidade única transforma a limitação
            em força. Toph demonstra que, com adaptação e criatividade, a cegueira não impede independência, combate ou
            expressão de personalidade forte.</div>
        </div>
      </div>
      <div id="info3" class="infoEsquerda oculto info">
        <div class="card-flex">
          <img src="/img/personagem/dorinha.png" style="padding-right:2vw; padding-top: 2vw;" class="personagem"
            alt="timmy turner">
          <span class="logo" id="dorinha">dorinha</span>
          <div class="texto-descritivo">Dorinha é uma personagem cega que usa óculos especiais e bengala para se
            locomover. Apesar das dificuldades de acessibilidade, ela participa ativamente das aventuras com a turma,
            mostrando autonomia e coragem. A personagem ajuda a conscientizar sobre inclusão e respeito às diferenças,
            provando que a cegueira não define suas capacidades ou limita sua participação social e escolar.</div>
        </div>
      </div>
    </div>
  </div>

  <div class="div">
    <div class="informacaoDireita">
      <h2><strong>Surdez</strong></h2>
      <p>A deficiência auditiva refere-se à perda parcial ou total da capacidade de ouvir, podendo ser congênita (desde
        o nascimento) ou adquirida (ao longo da vida). Suas variações incluem surdez leve, moderada, severa ou profunda,
        além de perda unilateral ou bilateral. Pessoas com deficiência auditiva enfrentam desafios de acessibilidade,
        como a necessidade de legendas, intérpretes de Libras ou tecnologia assistiva, além de barreiras em comunicação
        verbal e participação em atividades sociais e educacionais. O preconceito e a falta de compreensão sobre a
        deficiência podem gerar exclusão social, subestimação de capacidades e dificuldades no mercado de trabalho.
        Políticas inclusivas, conscientização e recursos tecnológicos são fundamentais para garantir autonomia, inclusão
        e participação plena na sociedade. alguns personagens que convivem com essa característica são:</p>
    </div>
    <span class="estrela personagem4" id="estrela4" data-target="info4"></span>
    <span class="estrela personagem5" id="estrela5" data-target="info5"></span>
    <span class="estrela personagem6" id="estrela6" data-target="info6"></span>
    <div>
      <div id="info4" class="infoDireita oculto info">
        <div class="card-flex">
          <img src="/img/personagem/makari.png" class="personagem" alt="timmy turner">
          <img src="/img/logo/makkari-logo.png" class="logo" style="left: -4%;" alt="logo timmy turner">
          <div class="texto-descritivo">Makkari desenvolveu formas de adaptar-se a sua condição, percebendo sons e
            movimentos de forma alternativa através de estímulos visuais e vibratórios. Ela se comunica com a equipe
            usando sinais e linguagem corporal, mostrando grande capacidade de adaptação social. Sua deficiência
            auditiva não limita suas ações; pelo contrário, fortalece sua singularidade como heroína. Makkari
            exemplifica como desafios podem ser transformados em habilidades únicas, evidenciando autonomia,
            criatividade e a importância da inclusão em ambientes colaborativos.</div>
        </div>
      </div>
      <div id="info5" class="infoDireita oculto info">
        <div class="card-flex">
          <img src="/img/personagem/erisa.png" style="padding-left: 2vw;" class="personagem" alt="timmy turner">
          <span class="logo" id="erisa">Erisa</span>
          <div class="texto-descritivo">Erisa apresenta deficiência auditiva, mas participa ativamente do futebol graças
            a aparelhos auditivos e estratégias de comunicação adaptadas. Ela demonstra determinação, talento e espírito
            de equipe, superando barreiras de interação com colegas e adversários. Sua experiência evidencia como a
            adaptação tecnológica e o apoio adequado permitem participação plena em atividades esportivas e sociais.
            Além disso, Erisa inspira compreensão e respeito, mostrando que a surdez não define limitações para
            conquistas e liderança dentro e fora dos campos.</div>
        </div>
      </div>
      <div id="info6" class="infoDireita oculto info">
        <div class="card-flex">
          <img src="/img/personagem/echo-foto.png" style="height: 12vw; padding-right: 2vw; padding-left: 2vw;"
            class="personagem" alt="timmy turner">
          <img src="/img/logo/echo-logo.png" class="logo" alt="logo timmy turner">
          <div class="texto-descritivo">Echo possui deficiência auditiva parcial, o que exige atenção redobrada a sinais
            visuais e estratégias alternativas de comunicação. Apesar disso, ela é altamente competente em combate e
            trabalho em equipe, utilizando sua inteligência e habilidades avançadas para superar qualquer limitação. A
            personagem mostra como recursos assistivos, atenção e criatividade podem transformar desafios em forças.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="div">
    <div class="informacaoEsquerda">
      <h2><strong>Paraplegia</strong></h2>
      <p>A paraplegia é uma deficiência física caracterizada pela perda parcial ou total dos movimentos dos membros
        inferiores, geralmente causada por lesões na medula espinhal, doenças ou acidentes. Pessoas paraplégicas
        enfrentam dificuldades de mobilidade, necessitando de cadeiras de rodas ou outros recursos de locomoção. Do
        ponto de vista social, lidam com barreiras arquitetônicas, falta de acessibilidade em transportes e preconceito
        relacionado à sua autonomia. Muitas vezes, são subestimadas em suas capacidades profissionais e pessoais, o que
        pode gerar exclusão social. No entanto, avanços em tecnologia assistiva, reabilitação e conscientização social
        têm ampliado a participação e independência dessas pessoas. alguns personagens que representam esta condição
        são:
      </p>
    </div>
    <span class="estrela personagem1" id="estrela7" data-target="info7"></span>
    <span class="estrela personagem2" id="estrela8" data-target="info8"></span>
    <span class="estrela personagem3" id="estrela9" data-target="info9"></span>
    <div class="div">
      <div id="info7" class="infoEsquerda oculto info">
        <div class="card-flex">
          <img src="/img/personagem/batgril.png" class="personagem"
            style="padding-right: 4vw; padding-left: 2vw; margin-top: 7vw;" alt="timmy turner">
          <img src="/img/logo/batgril-logo.png" class="logo" alt="logo timmy turner">
          <div class="texto-descritivo">Após ser baleada pelo Coringa, Barbara Gordon fica paraplégica e passa a usar
            cadeira de rodas. Mesmo assim, ela não abandona a luta contra o crime e assume a identidade de Oráculo,
            utilizando sua inteligência e habilidades tecnológicas para auxiliar heróis. Sua representação mostra como a
            paraplegia não limita o valor ou o protagonismo, mas pode transformar a forma de atuar.
          </div>
        </div>
      </div>
      <div id="info8" class="infoEsquerda oculto info">
        <div class="card-flex">
          <img src="/img/personagem/takeru-noto.png" class="personagem" style="padding-right: 2vw;" alt="timmy turner">
          <span class="logo" id="takeru" style="left: -3%">Takeru</span>
          <div class="texto-descritivo"> Takeru é um jovem que se torna paraplégico após um acidente de moto, passando
            por grandes dificuldades emocionais e sociais. Ao longo da obra, ele precisa se adaptar à nova realidade e
            encontra no basquete em cadeira de rodas um caminho de superação. O personagem retrata os desafios de
            aceitação, preconceito e adaptação física e psicológica vividos por pessoas com paraplegia.
          </div>
        </div>
      </div>
      <div id="info9" class="infoEsquerda oculto info">
        <div class="card-flex">
          <img src="/img/personagem/bentley.png" class="personagem"
            style="padding-right: 2vw;padding-left: 1vw; margin-top: 5vw" alt="timmy turner">
          <img src="/img/logo/bentley-logo.png" class="logo" alt="logo timmy turner">
          <div class="texto-descritivo"> Bentley, após um acidente, torna-se paraplégico e passa a utilizar cadeira de
            rodas. Apesar disso, continua sendo o cérebro do grupo, usando sua genialidade estratégica e habilidades
            tecnológicas para apoiar os amigos. Sua história mostra como a deficiência não diminui sua relevância e
            capacidade, reforçando a valorização da inteligência e da adaptação.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="div">
    <div class="informacaoDireita">
      <h2><strong>Malformação Congênita / Amputação</strong></h2>
      <p>A malformação congênita e a amputação são condições que resultam na ausência parcial ou total de um membro,
        podendo ser desde o nascimento ou adquirida por acidente ou doença. Socialmente, pessoas com essas condições
        enfrentam preconceito estético, subestimação de suas habilidades e dificuldades de acessibilidade em atividades
        cotidianas. Além disso, a adaptação física e psicológica pode ser desafiadora, especialmente quando ocorre
        amputação após traumas. Tecnologias como próteses, reabilitação e políticas inclusivas ajudam na autonomia e
        qualidade de vida. personagens que representam essa condição são:</p>
    </div>
    <span class="estrela personagem4" id="estrela10" data-target="info10"></span>
    <span class="estrela personagem5" id="estrela11" data-target="info11"></span>
    <span class="estrela personagem6" id="estrela12" data-target="info12"></span>
    <div>
      <div id="info10" class="infoDireita oculto info">
        <div class="card-flex">
          <img src="/img/personagem/ciborg.png" style="padding-left: 4vw; transform: scaleX(-1);" class="personagem"
            alt="timmy turner">
          <img src="/img/logo/cyborg-logo.png" style="left:5%" class="logo" alt="logo timmy turner">
          <div class="texto-descritivo"> Victor Stone, conhecido como Ciborgue, perdeu grande parte de seu corpo em um
            acidente, sendo reconstruído com partes cibernéticas. Apesar de enfrentar conflitos de identidade e
            preconceito, ele transforma sua condição em força, usando as próteses como armas e ferramentas. Sua
            trajetória representa resiliência e superação diante da amputação.
          </div>
        </div>
      </div>
      <div id="info11" class="infoDireita oculto info">
        <div class="card-flex">
          <img src="/img/personagem/edward.png" class="personagem" style="padding-right: 3vw; padding-left: 1vw;"
            alt="timmy turner">
          <img src="/img/logo/edward-logo.png" class="logo" alt="logo timmy turner">
          <div class="texto-descritivo"> Edward perde um braço e uma perna em uma experiência fracassada de alquimia,
            substituídos por próteses mecânicas chamadas automails. Apesar das limitações, ele segue como um dos
            alquimistas mais habilidosos, mostrando que a amputação não restringe suas capacidades. Sua história retrata
            tanto as dores físicas e emocionais quanto a força da adaptação.
          </div>
        </div>
      </div>
      <div id="info12" class="infoDireita oculto info">
        <div class="card-flex">
          <img src="/img/personagem/soluco.png"
            style="height: 18vw; padding-right: 3vw; padding-left: 3vw; margin-top: 4vw;" class="personagem"
            alt="timmy turner">
          <span class="logo" id="soluco">Soluço</span>
          <div class="texto-descritivo"> Soluço perde parte da perna em batalha, recebendo uma prótese que lhe permite
            continuar montando e treinando dragões. A perda reforça sua maturidade e coragem, tornando-o ainda mais
            humano e próximo de seu dragão, Banguela, que também tem uma deficiência. O personagem mostra como a
            amputação pode ser integrada à identidade de forma positiva
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="div">
    <div class="informacaoEsquerda">
      <h2><strong>Daltonismo</strong></h2>
      <p>O daltonismo é uma deficiência visual caracterizada pela dificuldade em distinguir certas cores, geralmente
        vermelho e verde, ou em casos mais raros, azul e amarelo. Pode variar de formas leves a severas e, em raríssimos
        casos, resultar em visão em preto e branco. Embora não afete a visão em geral, traz desafios em atividades que
        dependem da diferenciação de cores, como direção de veículos, interpretação de sinais ou profissões específicas.
        Socialmente, o preconceito ocorre mais pela falta de compreensão, sendo muitas vezes visto como "curiosidade" e
        não como deficiência real. A conscientização e o uso de tecnologias, como lentes corretivas e aplicativos,
        ajudam a reduzir barreiras.
      </p>
    </div>
    <span class="estrela personagem1" id="estrela13" data-target="info13"></span>
    <span class="estrela personagem2" id="estrela14" data-target="info14"></span>
    <span class="estrela personagem3" id="estrela15" data-target="info15"></span>
    <div class="div">
      <div id="info13" class="infoEsquerda oculto info">
        <div class="card-flex">
          <img src="/img/personagem/o-coisa.png" class="personagem" style="transform: scaleX(-1); padding-left: 4vw;"
            alt="timmy turner">
          <img src="/img/logo/coisa-logo.png" class="logo" style="bottom: 73%; left: 5%;" alt="logo timmy turner">
          <div class="texto-descritivo"> O personagem Ben Grimm, conhecido como Coisa, apresenta daltonismo em algumas
            versões das HQs. Apesar disso, sua condição não interfere em sua força ou atuação como herói, mas mostra que
            até superpoderosos podem lidar com limitações humanas. Ele traz visibilidade para o tema, ainda pouco
            representado nas mídias.
          </div>
        </div>
      </div>
      <div id="info14" class="infoEsquerda oculto info">
        <div class="card-flex">
          <img src="/img/personagem/kanata.png" class="personagem" style="padding-right: 4vw; margin-top: 5vw;"
            alt="timmy turner">
          <img src="/img/logo/kanata-logo.png" style="left: 10%;" class="logo" alt="logo timmy turner">
          <div class="texto-descritivo">Kanata tem daltonismo e, por isso, enfrenta dificuldades em situações que exigem
            percepção de cores, como identificar plantas ou sinais. Essa condição, no entanto, não diminui seu papel
            como líder da tripulação, reforçando que o daltonismo não define competência ou inteligência.
          </div>
        </div>
      </div>
      <div id="info15" class="infoEsquerda oculto info">
        <div class="card-flex">
          <img src="/img/personagem/finn.png" style="padding-right: 4vw;margin-top: 3vw;" class="personagem"
            alt="timmy turner">
          <span class="logo" id="finn">Finn</span>
          <div class="texto-descritivo"> Finn possui daltonismo, o que é abordado em episódios da série de forma sutil e
            até humorada. Ele enxerga o mundo de forma diferente, mas isso não afeta sua coragem, liderança e espírito
            aventureiro. A presença desse detalhe humaniza o personagem e aproxima sua vivência da de muitas pessoas.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="div">
    <div class="informacaoDireita">
      <h2><strong>Baixa Visão</strong></h2>
      <p>A baixa visão é uma deficiência visual caracterizada pela redução significativa da visão, mesmo com o uso de
        óculos ou lentes, mas sem chegar à cegueira total. Pode ser causada por fatores congênitos ou adquiridos, como
        glaucoma e degeneração macular. Pessoas com baixa visão enfrentam dificuldades em leitura, mobilidade e uso de
        recursos visuais, precisando de adaptações como lupas, contrastes de cor e iluminação adequada. Socialmente,
        sofrem preconceito por não se enquadrarem no estereótipo de “cego total” nem de pessoa vidente, resultando em
        incompreensão e exclusão. Tecnologias assistivas e conscientização são fundamentais para a inclusão.</p>
    </div>
    <span class="estrela personagem4" id="estrela16" data-target="info16"></span>
    <span class="estrela personagem5" id="estrela17" data-target="info17"></span>
    <span class="estrela personagem6" id="estrela18" data-target="info18"></span>
    <div>
      <div id="info16" class="infoDireita oculto info">
        <div class="card-flex">
          <img src="/img/personagem/godot.png" style="padding-right: 4vw; margin-top: 5vw;" class="personagem"
            alt="timmy turner">
          <img src="/img/logo/godot-logo.png" style="left: 15%;" class="logo" alt="logo timmy turner">
          <div class="texto-descritivo">Godot perde parcialmente a visão após um acidente e passa a usar um visor
            especial que o auxilia. Sua baixa visão influencia sua forma de agir, mas não afeta sua inteligência e
            habilidade como promotor. O personagem mostra a adaptação à deficiência sem perder protagonismo.
          </div>
        </div>
      </div>
      <div id="info17" class="infoDireita oculto info">
        <div class="card-flex">
          <img src="/img/personagem/nick-fury.png" style="padding-right: 5vw; padding-left: 3vw; margin-top: 6vw;"
            class="personagem" alt="timmy turner">
          <img src="/img/logo/nick-fury-logo.png" class="logo" alt="logo timmy turner">
          <div class="texto-descritivo"> Nick Fury perdeu parte da visão e utiliza um tapa-olho, representando a baixa
            visão em uma forma simbólica. Apesar da limitação, continua sendo um dos líderes mais estratégicos da
            S.H.I.E.L.D., mostrando que a deficiência não reduz sua capacidade de comando.
          </div>
        </div>
      </div>
      <div id="info18" class="infoDireita oculto info">
        <div class="card-flex">
          <img src="/img/personagem/minguado.png" class="personagem" alt="timmy turner">
          <span id="minguado" class="logo">Minguado</span>
          <div class="texto-descritivo">Minguado tem baixa visão em um dos olhos e também deformidade física no braço,
            mas mantém personalidade gentil e solidária. Sua deficiência não impede que participe das aventuras e
            represente valores como empatia e amizade.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="botao-container">
    <span class="estrela esquerda1"></span>
    <span class="estrela esquerda2"></span>
    <span class="estrela esquerda3"></span>
    <button class="botao" id="coment" type="button">Comente aqui</button>
    <span class="estrela direita1"></span>
    <span class="estrela direita3"></span>
    <span class="estrela direita2"></span>
  </div>
  <div style="align-items: center;justify-content: center; text-align: center; padding: 4vw;">
    <button type="button" class="topo" id="btnTopo">Voltar ao Topo</button>
  </div>

  <script src="/js/deficiencia.js"></script>

</body>

</html>