<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Situações Sociais</title>
    <link rel="stylesheet" href="/css/situacao.css">
</head>

<body>
    <header>
        <button type="button" class="botao-header" id="esquerda"><b>Situações Sociais</b></button>
        <button type="button" class="botao-header" id="meio"><b>Mais Informações</b></button>
        <button type="button" class="botao-header" id="direita"><b>Comentários</b></button>
        <button type="button" class="botao-header" id="voltar"><b>Voltar</b></button>
    </header>

    <div class="pai-flex">
        <div id="informacao">
            <h1><strong>Situações de Sociabilidade</strong></h1>
            <p>Convivemos em uma sociedade muito diversa, com diferentes opiniões, religiões, ideologias e etc. Junto a
                essas diferenças existe o preconceito que pode ser expresso de forma mais amena ou até mesmo de maneira
                mais violenta, restringindo ou dificultando a convivência de uma pessoa em sociedade apenas por ser quem
                é. Todos os dias, são noticiados diferentes casos de racismo, misoginia, lgbtfobia e intolerância
                religiosa que podem resultar na exclusão de uma pessoa do seu círculo social, ou até mesmo em casos mais
                extremos a morte desse indivíduo.
                Aqui temos alguns exemplos de diferentes situações personagens da ficção que convivem e combatem esse
                preconceito diariamente:
            </p>
        </div>
    </div>

    <div class="div">
        <div class="informacaoEsquerda">
            <h2><strong>Homofobia</strong></h2>
            <p>A homofobia é a discriminação e o preconceito contra pessoas LGBTQIA+, manifestando-se em agressões
                verbais, físicas, exclusão social e limitações de direitos. Afeta profundamente a saúde mental, gerando
                ansiedade, depressão e isolamento. No ambiente escolar e de trabalho, a homofobia pode levar à evasão e
                dificuldades de ascensão profissional. Também está presente nas representações midiáticas, onde
                personagens LGBTQIA+ são invisibilizados ou estereotipados. Apesar dos avanços em políticas de inclusão
                e leis protetivas, o preconceito ainda persiste, exigindo conscientização, representatividade e respeito
                à diversidade.</p>
        </div>
        <span class="estrela personagem1" id="estrela1" data-target="info1"></span>
        <span class="estrela personagem2" id="estrela2" data-target="info2"></span>
        <span class="estrela personagem3" id="estrela3" data-target="info3"></span>
        <div class="div">
            <div id="info1" class="infoEsquerda oculto info">
                <div class="card-flex">
                    <img src="/img/personagem/hera.png" class="personagem" alt="timmy turner">
                    <img src="/img/logo/hera-logo.png" class="logo" alt="logo timmy turner">
                    <div class="texto-descritivo"> Hera Venenosa é uma personagem bissexual, frequentemente retratada em
                        relacionamentos com Arlequina. Sua existência no universo dos quadrinhos simboliza visibilidade
                        e quebra de estigmas, embora muitas vezes tenha sido alvo de críticas por parte de fãs
                        preconceituosos. Representa a importância de narrativas que naturalizam a diversidade sexual.
                    </div>
                </div>
            </div>
            <div id="info2" class="infoEsquerda oculto info">
                <div class="card-flex">
                    <img src="/img/personagem/ellie.png" class="personagem" alt="timmy turner">
                    <img src="/img/logo/ellie-logo.png" class="logo" alt="logo timmy turner">
                    <div class="texto-descritivo"> Ellie é lésbica e enfrenta preconceitos em um mundo já hostil e
                        violento. Sua relação com Dina traz à tona tanto a representatividade positiva quanto a reação
                        homofóbica de parte do público. A personagem mostra coragem em viver sua verdade, reforçando a
                        importância de representações LGBTQIA+ em narrativas principais.
                    </div>
                </div>
            </div>
            <div id="info3" class="infoEsquerda oculto info">
                <div class="card-flex">
                    <img src="/img/personagem/alluka.png" class="personagem" alt="timmy turner">
                    <span></span>
                    <div class="texto-descritivo"> Alluka é uma personagem trans que enfrenta rejeição da própria
                        família por sua identidade de gênero. Sua história expõe os impactos da transfobia, mas também
                        simboliza resistência e busca por aceitação. Alluka representa como a homofobia e a transfobia
                        podem afetar a vivência pessoal, mas não anulam identidade e força.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div">
        <div class="informacaoDireita">
            <h2><strong>Racismo</strong></h2>
            <p>O racismo é a discriminação baseada em raça ou cor, sustentada por estruturas sociais, culturais e
                históricas que reforçam desigualdades. Ele se manifesta em exclusão social, violência, dificuldade de
                acesso a empregos e educação, além de estigmatização cultural. O racismo estrutural marginaliza
                populações inteiras, perpetuando a desigualdade econômica e social. Na mídia, muitas vezes, personagens
                negros são reduzidos a estereótipos ou representados de forma escassa. como exemplificam os personagens
                a seguir:</p>
        </div>
        <span class="estrela personagem4" id="estrela4" data-target="info4"></span>
        <span class="estrela personagem5" id="estrela5" data-target="info5"></span>
        <span class="estrela personagem6" id="estrela6" data-target="info6"></span>
        <div class="div">
            <div id="info4" class="infoDireita oculto info">
                <div class="card-flex">
                    <img src="/img/personagem/super-choque.png" class="personagem" alt="timmy turner">
                    <img src="/img/logo/super-choque-logo.png" class="logo" alt="logo timmy turner">
                    <div class="texto-descritivo"> Virgil Hawkins, o Super Choque, é um herói negro que enfrenta não
                        apenas vilões, mas também o racismo cotidiano. Sua presença como protagonista jovem e negro nos
                        quadrinhos e animações é símbolo de representatividade e quebra de estigmas. Ele mostra que o
                        racismo não impede talento e liderança.
                    </div>
                </div>
            </div>
            <div id="info5" class="infoDireita oculto info">
                <div class="card-flex">
                    <img src="/img/personagem/jimbo.png" class="personagem" alt="timmy turner">
                    <img src="/img/logo/jinbe-logo.png" class="logo" alt="logo timmy turner">
                    <div class="texto-descritivo"> Jinbe, homem-peixe, enfrenta preconceito e discriminação por ser de
                        uma raça marginalizada dentro do universo de One Piece. Sua história reflete diretamente o
                        racismo estrutural, mostrando as dificuldades de integração e igualdade. Ainda assim, ele luta
                        por convivência pacífica entre humanos e homens-peixe, simbolizando resistência.
                    </div>
                </div>
            </div>
            <div id="info6" class="infoDireita oculto info">
                <div class="card-flex">
                    <img src="/img/personagem/lee-everet.png" class="personagem" alt="timmy turner">
                    <img src="/img/logo/lee-logo.png" class="logo" alt="logo timmy turner">
                    <div class="texto-descritivo"> Lee é um homem negro que, além de enfrentar o apocalipse zumbi, lida
                        com a desconfiança e os preconceitos de outros sobreviventes. Sua liderança e humanidade
                        desafiam estereótipos, mostrando como o racismo persiste mesmo em contextos extremos. Ele
                        representa empatia e força diante da exclusão.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div">
        <div class="informacaoEsquerda">
            <h2><strong>Intolerância Religiosa</strong></h2>
            <p>A intolerância religiosa é a hostilidade ou discriminação contra indivíduos ou grupos por causa de sua fé
                ou crenças. Pode se manifestar em agressões físicas, ataques verbais, restrições de direitos e
                destruição de espaços sagrados. Ela afeta diretamente a liberdade de expressão e de culto, além de
                causar exclusão social e marginalização cultural. Em muitos casos, é sustentada por preconceito,
                desconhecimento ou estigmatização de religiões minoritárias. A promoção do respeito, da laicidade do
                Estado e da diversidade religiosa é fundamental para combater essa forma de preconceito.
            </p>
        </div>
        <span class="estrela personagem1" id="estrela7" data-target="info7"></span>
        <span class="estrela personagem2" id="estrela8" data-target="info8"></span>
        <span class="estrela personagem3" id="estrela9" data-target="info9"></span>
        <div class="div">
            <div id="info7" class="infoEsquerda oculto info">
                <div class="card-flex">
                    <img src="/img/personagem/moon-knigth-foto.png" class="personagem" alt="timmy turner">
                    <img src="/img/logo/moon-knight-logo.png" class="logo" alt="logo timmy turner">
                    <div class="texto-descritivo">Marc Spector é judeu e muitas vezes sofre preconceito por sua origem
                        religiosa. Sua fé, porém, é também fonte de identidade e força, sendo parte fundamental de sua
                        construção como herói. O personagem mostra os desafios e a resistência diante da intolerância.
                    </div>
                </div>
            </div>
            <div id="info8" class="infoEsquerda oculto info">
                <div class="card-flex">
                    <img src="/img/personagem/Shirou.png" class="personagem" alt="timmy turner">
                    <span></span>
                    <div class="texto-descritivo"> Shirou convive com a intolerância religiosa de forma indireta, já que
                        vive em um mundo onde crenças e magias se chocam. Ele simboliza como as diferenças espirituais
                        podem gerar conflitos e incompreensão, refletindo as tensões entre fé e poder.
                    </div>
                </div>
            </div>
            <div id="info9" class="infoEsquerda oculto info">
                <div class="card-flex">
                    <img src="/img/personagem/Gilda.png" class="personagem" alt="timmy turner">
                    <img src="/img/logo/gilda-logo.png" class="logo" alt="logo timmy turner">
                    <div class="texto-descritivo"> Gilda enfrenta preconceito religioso por ser uma mulher livre em seus
                        costumes e julgada por setores conservadores da comunidade. Sua história expõe como a
                        intolerância pode se travestir de moralidade religiosa para marginalizar quem não se encaixa em
                        padrões.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div">
        <div class="informacaoDireita">
            <h2><strong>Sexualização da Figura Feminina </strong></h2>
            <p>A sexualização da figura feminina é a representação da mulher de forma objetificada, reduzindo-a a
                atributos físicos e ignorando sua complexidade como indivíduo. É comum em mídias como quadrinhos, jogos
                e filmes, onde personagens femininas são expostas com roupas impraticáveis ou em poses sensuais
                desnecessárias. Essa prática reforça o machismo e perpetua estereótipos prejudiciais, afetando a
                autoestima e a representatividade feminina. O enfrentamento exige representações mais diversas e
                realistas, valorizando mulheres como protagonistas complexas e não como objetos de consumo. como podemos
                ver nas personagens a seguir:</p>
        </div>
        <span class="estrela personagem4" id="estrela10" data-target="info10"></span>
        <span class="estrela personagem5" id="estrela11" data-target="info11"></span>
        <span class="estrela personagem6" id="estrela12" data-target="info12"></span>
        <div class="div">
            <div id="info10" class="infoDireita oculto info">
                <div class="card-flex">
                    <img src="/img/personagem/estelar-foto.png" class="personagem" alt="timmy turner">
                    <img src="/img/logo/estelar-logo.png" class="logo" alt="logo timmy turner">
                    <div class="texto-descritivo"> Estelar frequentemente foi retratada de forma sexualizada em
                        quadrinhos e animações, com trajes reveladores e ênfase em seu corpo. Isso contrasta com sua
                        personalidade profunda e trajetória heroica, muitas vezes ofuscadas pelo excesso de erotização.
                        Ela exemplifica como a sexualização reduz a complexidade da personagem.
                    </div>
                </div>
            </div>
            <div id="info11" class="infoDireita oculto info">
                <div class="card-flex">
                    <img src="/img/personagem/nami.png" class="personagem" alt="timmy turner">
                    <span></span>
                    <div class="texto-descritivo"> Nami é uma navegadora brilhante e fundamental para a tripulação, mas
                        constantemente retratada com roupas sexualizadas e ênfase em atributos físicos. Essa
                        representação cria contraste entre sua inteligência e a forma como a narrativa reforça
                        estereótipos de gênero.
                    </div>
                </div>
            </div>
            <div id="info12" class="infoDireita oculto info">
                <div class="card-flex">
                    <img src="/img/personagem/lara-croft.png" class="personagem" alt="timmy turner">
                    <img src="/img/logo/lara-croft-logo.png" class="logo" alt="logo timmy turner">
                    <div class="texto-descritivo">Lara Croft é um ícone dos games, inicialmente criada com forte apelo
                        sexual, roupas curtas e corpo idealizado. Apesar disso, ao longo dos anos, foi reformulada em
                        versões mais realistas, focadas em suas habilidades e personalidade. Sua trajetória simboliza
                        tanto o problema quanto a evolução na representação feminina.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div">
        <div class="informacaoEsquerda">
            <h2><strong>Misoginia</strong></h2>
            <p>A misoginia é o preconceito e hostilidade contra mulheres, manifestando-se em atitudes de desvalorização,
                exclusão e violência. Ela aparece em diversos contextos sociais, desde ambientes familiares até
                profissionais e políticos, limitando oportunidades e reconhecimento como veremos nas personagens abaixo.
                No campo cultural e midiático, a misoginia se traduz em personagens femininas subestimadas ou
                invisibilizadas. Esse fenômeno perpetua desigualdades de gênero e afeta profundamente a autoestima e as
                possibilidades de ascensão das mulheres. Combater a misoginia exige conscientização, equidade de gênero
                e maior representatividade feminina em papéis de poder.
            </p>
        </div>
        <span class="estrela personagem1" id="estrela13" data-target="info13"></span>
        <span class="estrela personagem2" id="estrela14" data-target="info14"></span>
        <span class="estrela personagem3" id="estrela15" data-target="info15"></span>
        <div class="div">
            <div id="info13" class="infoEsquerda oculto info">
                <div class="card-flex">
                    <img src="/img/personagem/mulher-invisivel-foto.png" class="personagem" alt="timmy turner">
                    <img src="/img/logo/mulher-invisivel-logo.png" class="logo" alt="logo timmy turner">
                    <div class="texto-descritivo"> Susan Storm, apesar de ser uma das heroínas mais poderosas da Marvel,
                        muitas vezes foi retratada de forma secundária em relação aos colegas homens do Quarteto
                        Fantástico. Isso reflete como a misoginia pode invisibilizar mulheres mesmo em posições de
                        destaque.
                    </div>
                </div>
            </div>
            <div id="info14" class="infoEsquerda oculto info">
                <div class="card-flex">
                    <img src="/img/personagem/maki.png" class="personagem" alt="timmy turner">
                    <span></span>
                    <div class="texto-descritivo"> Maki enfrenta preconceito dentro de sua própria família por ser
                        mulher e por não ter poderes sobrenaturais. Sua luta simboliza a misoginia presente em tradições
                        que desvalorizam o potencial feminino, reforçando barreiras para seu crescimento..
                    </div>
                </div>
            </div>
            <div id="info15" class="infoEsquerda oculto info">
                <div class="card-flex">
                    <img src="/img/personagem/katara-foto.png" class="personagem" alt="timmy turner">
                    <span></span>
                    <div class="texto-descritivo"> Katara enfrenta atitudes misóginas em sua jornada, como quando é
                        desvalorizada por guerreiros da Tribo da Água do Norte por ser mulher. Apesar disso, ela rompe
                        essas barreiras e se torna uma das dobradoras mais poderosas, desafiando os padrões impostos.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div">
        <div class="informacaoDireita">
            <h2><strong>Xenofobia</strong></h2>
            <p>A xenofobia é o preconceito contra pessoas de outras culturas, etnias ou nacionalidades, geralmente
                motivado por medo, desconhecimento ou sentimentos de superioridade. Manifesta-se em exclusão social,
                discursos de ódio, violência física e restrições de direitos, afetando migrantes e minorias. Esse
                fenômeno prejudica a convivência multicultural e gera desigualdade social. Na mídia, muitas vezes é
                representado por conflitos entre povos diferentes ou personagens que sofrem rejeição por suas origens
                como veremos abaixo. Combater a xenofobia requer educação, empatia e promoção da diversidade cultural.
            </p>
        </div>
        <span class="estrela personagem4" id="estrela16" data-target="info16"></span>
        <span class="estrela personagem5" id="estrela17" data-target="info17"></span>
        <span class="estrela personagem6" id="estrela18" data-target="info18"></span>
        <div class="div">
            <div id="info16" class="infoDireita oculto info">
                <div class="card-flex">
                    <img src="/img/personagem/pantera-negra.png" class="personagem" alt="timmy turner">
                    <img src="/img/logo/pantera-negra-logo.png" class="logo" alt="logo timmy turner">
                    <div class="texto-descritivo"> T’Challa enfrenta a xenofobia global contra Wakanda, país africano
                        visto com desconfiança e preconceito. Como rei e Pantera Negra, ele luta para mostrar a força e
                        a riqueza de sua cultura, representando o enfrentamento da exclusão internacional.
                    </div>
                </div>
            </div>
            <div id="info17" class="infoDireita oculto info">
                <div class="card-flex">
                    <img src="/img/personagem/zuko-foto.png" class="personagem" alt="timmy turner">
                    <img src="/img/logo/zuko-logo.png" class="logo" alt="logo timmy turner">
                    <div class="texto-descritivo"> Zuko enfrenta preconceito por carregar o estigma da Nação do Fogo,
                        considerada inimiga pelo restante do mundo. Sua jornada de redenção mostra como a xenofobia pode
                        isolar indivíduos por sua origem, mesmo quando buscam mudar.
                    </div>
                </div>
            </div>
            <div id="info18" class="infoDireita oculto info">
                <div class="card-flex">
                    <img src="/img/personagem/pocahontas-foto.png" class="personagem" alt="timmy turner">
                    <img src="/img/logo/pocahontas-logo.png" class="logo" alt="logo timmy turner">
                    <div class="texto-descritivo"> Pocahontas enfrenta a xenofobia entre colonos europeus e povos
                        nativos, sofrendo com o choque cultural e o preconceito contra sua identidade indígena. Sua
                        história representa a exclusão e a luta pela convivência pacífica entre culturas distintas.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="botao-container">
        <span class="estrela esquerda1"></span>
        <span class="estrela esquerda2"></span>
        <span class="estrela esquerda3"></span>
        <button class="botao" type="button">Comente aqui</button>
        <span class="estrela direita1"></span>
        <span class="estrela direita3"></span>
        <span class="estrela direita2"></span>
    </div>

    <script src="/js/situacao.js"></script>

</body>

</html>