<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Situações Sociais</title>
    <link rel="stylesheet" href="/css/situacao.css">
</head>

<body>
    <header>
        <button type="button" class="botao-header" id="esquerda"><b>Situações Sociais</b></button>
        <button type="button" class="botao-header" id="meio"><b>Mais Informações</b></button>
        <button type="button" class="botao-header" id="direita"><b>Comentários</b></button>
        <button type="button" class="botao-header" id="voltar"><b>Voltar</b></button>
    </header>

    <div class="pai-flex">
        <div id="informacao">
            <h1><strong>Situações de Sociabilidade</strong></h1>
            <p>Convivemos em uma sociedade muito diversa, com diferentes opiniões, religiões, ideologias e etc. Junto a
                essas diferenças existe o preconceito que pode ser expresso de forma mais amena ou até mesmo de maneira
                mais violenta, restringindo ou dificultando a convivência de uma pessoa em sociedade apenas por ser quem
                é. Todos os dias, são noticiados diferentes casos de racismo, misoginia, lgbtfobia e intolerância
                religiosa que podem resultar na exclusão de uma pessoa do seu círculo social, ou até mesmo em casos mais
                extremos a morte desse indivíduo.
                Aqui temos alguns exemplos de diferentes situações personagens da ficção que convivem e combatem esse
                preconceito diariamente:
            </p>
        </div>
    </div>

    <div class="div">
        <div class="informacaoEsquerda">
            <h2><strong>Homofobia</strong></h2>
            <p>A homofobia é a discriminação e o preconceito contra pessoas LGBTQIA+, manifestando-se em agressões
                verbais, físicas, exclusão social e limitações de direitos. Afeta profundamente a saúde mental, gerando
                ansiedade, depressão e isolamento. No ambiente escolar e de trabalho, a homofobia pode levar à evasão e
                dificuldades de ascensão profissional. Também está presente nas representações midiáticas, onde
                personagens LGBTQIA+ são invisibilizados ou estereotipados. Apesar dos avanços em políticas de inclusão
                e leis protetivas, o preconceito ainda persiste, exigindo conscientização, representatividade e respeito
                à diversidade.</p>
        </div>
        <span class="estrela personagem1" id="estrela1" data-target="info1"></span>
        <span class="estrela personagem2" id="estrela2" data-target="info2"></span>
        <span class="estrela personagem3" id="estrela3" data-target="info3"></span>
        <div class="div-informacoes">
            <div id="info1" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 1</h3>
                <p>Aqui estão os detalhes relacionados à primeira estrela. Você pode colocar texto, imagens ou qualquer
                    outro
                    conteúdo aqui.</p>
            </div>
            <div id="info2" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 2</h3>
                <p>Conteúdo específico para a segunda estrela. Quando você clica na estrela 2, esta div aparece.</p>
            </div>
            <div id="info3" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 3</h3>
                <p>Esta é a informação da terceira estrela. Ela só aparecerá quando a estrela 3 for clicada.</p>
            </div>
        </div>
    </div>

    <div class="div">
        <div class="informacaoDireita">
            <h2><strong>Racismo</strong></h2>
            <p>O racismo é a discriminação baseada em raça ou cor, sustentada por estruturas sociais, culturais e
                históricas que reforçam desigualdades. Ele se manifesta em exclusão social, violência, dificuldade de
                acesso a empregos e educação, além de estigmatização cultural. O racismo estrutural marginaliza
                populações inteiras, perpetuando a desigualdade econômica e social. Na mídia, muitas vezes, personagens
                negros são reduzidos a estereótipos ou representados de forma escassa. como exemplificam os personagens
                a seguir:</p>
        </div>
        <span class="estrela personagem4" id="estrela4" data-target="info4"></span>
        <span class="estrela personagem5" id="estrela5" data-target="info5"></span>
        <span class="estrela personagem6" id="estrela6" data-target="info6"></span>
        <div>
            <div id="info4" class="infoDireita oculto info">
                <h3>Informação da Estrela 1</h3>
                <p>Aqui estão os detalhes relacionados à primeira estrela. Você pode colocar texto, imagens ou qualquer
                    outro
                    conteúdo aqui.</p>
            </div>
            <div id="info5" class="infoDireita oculto info">
                <h3>Informação da Estrela 2</h3>
                <p>Conteúdo específico para a segunda estrela. Quando você clica na estrela 2, esta div aparece.</p>
            </div>
            <div id="info6" class="infoDireita oculto info">
                <h3>Informação da Estrela 3</h3>
                <p>Esta é a informação da terceira estrela. Ela só aparecerá quando a estrela 3 for clicada.</p>
            </div>
        </div>
    </div>

    <div class="div">
        <div class="informacaoEsquerda">
            <h2><strong>Intolerância Religiosa</strong></h2>
            <p>A intolerância religiosa é a hostilidade ou discriminação contra indivíduos ou grupos por causa de sua fé
                ou crenças. Pode se manifestar em agressões físicas, ataques verbais, restrições de direitos e
                destruição de espaços sagrados. Ela afeta diretamente a liberdade de expressão e de culto, além de
                causar exclusão social e marginalização cultural. Em muitos casos, é sustentada por preconceito,
                desconhecimento ou estigmatização de religiões minoritárias. A promoção do respeito, da laicidade do
                Estado e da diversidade religiosa é fundamental para combater essa forma de preconceito.
            </p>
        </div>
        <span class="estrela personagem1" id="estrela10" data-target="info10"></span>
        <span class="estrela personagem2" id="estrela11" data-target="info11"></span>
        <span class="estrela personagem3" id="estrela12" data-target="info12"></span>
        <div class="div-informacoes">
            <div id="info10" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 1</h3>
                <p>Aqui estão os detalhes relacionados à primeira estrela. Você pode colocar texto, imagens ou qualquer
                    outro
                    conteúdo aqui.</p>
            </div>
            <div id="info11" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 2</h3>
                <p>Conteúdo específico para a segunda estrela. Quando você clica na estrela 2, esta div aparece.</p>
            </div>
            <div id="info12" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 3</h3>
                <p>Esta é a informação da terceira estrela. Ela só aparecerá quando a estrela 3 for clicada.</p>
            </div>
        </div>
    </div>

    <div class="div">
        <div class="informacaoDireita">
            <h2><strong>Sexualização da Figura Feminina </strong></h2>
            <p>A sexualização da figura feminina é a representação da mulher de forma objetificada, reduzindo-a a
                atributos físicos e ignorando sua complexidade como indivíduo. É comum em mídias como quadrinhos, jogos
                e filmes, onde personagens femininas são expostas com roupas impraticáveis ou em poses sensuais
                desnecessárias. Essa prática reforça o machismo e perpetua estereótipos prejudiciais, afetando a
                autoestima e a representatividade feminina. O enfrentamento exige representações mais diversas e
                realistas, valorizando mulheres como protagonistas complexas e não como objetos de consumo. como podemos
                ver nas personagens a seguir:</p>
        </div>
        <span class="estrela personagem4" id="estrela13" data-target="info13"></span>
        <span class="estrela personagem5" id="estrela14" data-target="info14"></span>
        <span class="estrela personagem6" id="estrela15" data-target="info15"></span>
        <div>
            <div id="info13" class="infoDireita oculto info">
                <h3>Informação da Estrela 1</h3>
                <p>Aqui estão os detalhes relacionados à primeira estrela. Você pode colocar texto, imagens ou qualquer
                    outro
                    conteúdo aqui.</p>
            </div>
            <div id="info14" class="infoDireita oculto info">
                <h3>Informação da Estrela 2</h3>
                <p>Conteúdo específico para a segunda estrela. Quando você clica na estrela 2, esta div aparece.</p>
            </div>
            <div id="info15" class="infoDireita oculto info">
                <h3>Informação da Estrela 3</h3>
                <p>Esta é a informação da terceira estrela. Ela só aparecerá quando a estrela 3 for clicada.</p>
            </div>
        </div>
    </div>

    <div class="div">
        <div class="informacaoEsquerda">
            <h2><strong>Misoginia</strong></h2>
            <p>A misoginia é o preconceito e hostilidade contra mulheres, manifestando-se em atitudes de desvalorização,
                exclusão e violência. Ela aparece em diversos contextos sociais, desde ambientes familiares até
                profissionais e políticos, limitando oportunidades e reconhecimento como veremos nas personagens abaixo.
                No campo cultural e midiático, a misoginia se traduz em personagens femininas subestimadas ou
                invisibilizadas. Esse fenômeno perpetua desigualdades de gênero e afeta profundamente a autoestima e as
                possibilidades de ascensão das mulheres. Combater a misoginia exige conscientização, equidade de gênero
                e maior representatividade feminina em papéis de poder.
            </p>
        </div>
        <span class="estrela personagem1" id="estrela16" data-target="info16"></span>
        <span class="estrela personagem2" id="estrela17" data-target="info17"></span>
        <span class="estrela personagem3" id="estrela18" data-target="info18"></span>
        <div class="div-informacoes">
            <div id="info16" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 1</h3>
                <p>Aqui estão os detalhes relacionados à primeira estrela. Você pode colocar texto, imagens ou qualquer
                    outro
                    conteúdo aqui.</p>
            </div>
            <div id="info17" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 2</h3>
                <p>Conteúdo específico para a segunda estrela. Quando você clica na estrela 2, esta div aparece.</p>
            </div>
            <div id="info18" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 3</h3>
                <p>Esta é a informação da terceira estrela. Ela só aparecerá quando a estrela 3 for clicada.</p>
            </div>
        </div>
    </div>

    <div class="div">
        <div class="informacaoDireita">
            <h2><strong>Xenofobia</strong></h2>
            <p>A xenofobia é o preconceito contra pessoas de outras culturas, etnias ou nacionalidades, geralmente
                motivado por medo, desconhecimento ou sentimentos de superioridade. Manifesta-se em exclusão social,
                discursos de ódio, violência física e restrições de direitos, afetando migrantes e minorias. Esse
                fenômeno prejudica a convivência multicultural e gera desigualdade social. Na mídia, muitas vezes é
                representado por conflitos entre povos diferentes ou personagens que sofrem rejeição por suas origens
                como veremos abaixo. Combater a xenofobia requer educação, empatia e promoção da diversidade cultural.
            </p>
        </div>
        <span class="estrela personagem4" id="estrela19" data-target="info19"></span>
        <span class="estrela personagem5" id="estrela20" data-target="info20"></span>
        <span class="estrela personagem6" id="estrela21" data-target="info21"></span>
        <div>
            <div id="info19" class="infoDireita oculto info">
                <h3>Informação da Estrela 1</h3>
                <p>Aqui estão os detalhes relacionados à primeira estrela. Você pode colocar texto, imagens ou qualquer
                    outro
                    conteúdo aqui.</p>
            </div>
            <div id="info20" class="infoDireita oculto info">
                <h3>Informação da Estrela 2</h3>
                <p>Conteúdo específico para a segunda estrela. Quando você clica na estrela 2, esta div aparece.</p>
            </div>
            <div id="info21" class="infoDireita oculto info">
                <h3>Informação da Estrela 3</h3>
                <p>Esta é a informação da terceira estrela. Ela só aparecerá quando a estrela 3 for clicada.</p>
            </div>
        </div>
    </div>

    <div class="botao-container">
        <span class="estrela esquerda1"></span>
        <span class="estrela esquerda2"></span>
        <span class="estrela esquerda3"></span>
        <button class="botao" type="button">Comente aqui</button>
        <span class="estrela direita1"></span>
        <span class="estrela direita3"></span>
        <span class="estrela direita2"></span>
    </div>

    <script src="/js/situacao.js"></script>

</body>

</html>