<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Situações Sociais</title>
    <link rel="stylesheet" href="/css/situacao.css">
</head>
<body>
<div class="star-banner">
  <div class="stars stars-left">
    <img src="/img/star-kawaii-kawaii.gif" id="estrela1" class="star" alt="" />
    <img src="/img/star-kawaii-kawaii.gif" id="estrela2" class="star" alt="" />
    <img src="/img/star-kawaii-kawaii.gif" id="estrela3" class="star" alt="" />
  </div>
  <span class="banner-content">Seu texto aqui</span>
  <div class="stars stars-right">
    <img src="/img/star-kawaii-kawaii.gif" id="estrela4" class="star" alt="" />
    <img src="/img/star-kawaii-kawaii.gif" id="estrela5" class="star" alt="" />
    <img src="/img/star-kawaii-kawaii.gif" id="estrela6" class="star" alt="" />
  </div>
</div>
    
</body>
</html>