<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transtornos Mentais</title>
    <link rel="stylesheet" href="/css/transtorno.css">
</head>

<body>
    <header>
        <button type="button" class="botao-header" id="esquerda"><b>Transtornos Mentais</b></button>
        <button type="button" class="botao-header" id="meio"><b>Mais Informações</b></button>
        <button type="button" class="botao-header" id="direita"><b>Comentários</b></button>
        <button type="button" class="botao-header" id="voltar"><b>Voltar</b></button>
    </header>

    <div class="pai-flex">
        <div id="informacao">
            <h1><strong>Transtornos Mentais</strong></h1>
            <p>Transtornos mentais ou transtornos de saúde mental são condições de saúde que afetam significativamente o
                pensamento, o humor e o comportamento de uma pessoa. Pessoas que vivem com transtornos mentais enfrentam
                uma série de desafios diários, que vão além dos sintomas da própria condição; todos os dias essas
                pessoas lutam pela validação dos seus transtornos e adaptações no sistema para uma melhor convivência em
                sociedade.
                Aqui temos alguns exemplos de diferentes transtornos e personagens da ficção que convivem e enfrentam
                essas dificuldades:
            </p>
        </div>
    </div>

    <div class="div">
        <div class="informacaoEsquerda">
            <h2><strong>Dislexia</strong></h2>
            <p>Dislexia é um transtorno de aprendizagem neurológico que dificulta a leitura e a escrita. Pessoas com
                dislexia têm constantes dificuldades com a leitura e escrita, além de dificuldades com orientação do
                tempo ou do espaço. Não saber diferenciar esquerda ou direita, trocar sílabas e fonemas constantemente e
                até mesmo ter uma memória de curto prazo são dificuldades passadas diariamente por pessoas com esse
                distúrbio. É importante lembrar que a dislexia não tem nada haver com nível de inteligência! Aqui temos
                alguns personagens que possuem a dislexia e que convivem com ela diariamente:</p>
        </div>
        <span class="estrela personagem1" id="estrela1" data-target="info1"></span>
        <span class="estrela personagem2" id="estrela2" data-target="info2"></span>
        <span class="estrela personagem3" id="estrela3" data-target="info3"></span>
        <div id="info1" class="infoEsquerda oculto info">
            <div class="texto-descritivo">
                Dewey Jenkins um personagem da grafic novel "My Video Game Ate My Homework" é um garoto de 13 anos
                com dislexia. Em vez de ser um super-herói com poderes, ele é um herói à sua maneira, pois usa suas
                habilidades de pensamento criativo para superar desafios.
                <div class="bloco-flutuante">
                    <div class="titulo">Dewey Jenkins</div>
                    <img class="personagem" src="/img/dewey.png" alt="Dewey Jenkins">
                </div>Dewey mostra que a dislexia não é uma
                fraqueza, mas sim uma característica que pode vir acompanhada de outras habilidades importantes,
                como criatividade e outras formas de inteligência além dos cálculos e teorias, que são essenciais
                para Dewey no mundo dos games
            </div>
        </div>
        <div id="info2" class="infoEsquerda oculto info">
            <div class="texto-descritivo">
                Timmy Turner, de “Os padrinhos mágicos”, mesmo não possuindo de forma canônica dislexia é
                popularmente sugerido pelos
                <div class="bloco-flutuante">
                    <img class="logo" src="/img/TIMMY-TURNER-LOGO.png" alt="logo timmy turner">
                    <img class="personagem" src="/img/Timmy-Turner-foto.png" alt="timmy turner">
                </div>fãs que ele possui o transtorno de aprendizagem, baseado em suas notas
                baixas na escola, seu desleixo com os estudos e,
                principalmente, sua criatividade e capacidade de
                pensar de forma diferente. Essa dificuldade com o aprendizado acadêmico, especialmente com a leitura
                e a escrita, e seu potencial criativo são características centrais da dislexia.
            </div>
        </div>
        <div id="info3" class="infoEsquerda oculto info">
            <div class="texto-descritivo">
                A Dona morte em “Historietas assombradas para crianças malcriadas” é uma personagem com
                características marcantes como sua maneira de se vestir, seu jeito “rock n roll” e sua dislexia, que
                é mostrada de forma explícita e de maneira cômica pelo show.
                <div class="bloco-flutuante">
                    <div class="titulo">Morte</div>
                    <img class="personagem" id="morte" src="/img/MORTE.png" alt="morte">
                </div>Dona morte constantemente troca as
                sílabas e letras das palavras nos momentos mais inoportunos como por exemplo: em vez de dizer a
                frase "a morte tarda, mas não falha", ela diz: "tarda a morte, mas não falha", ou "preciso levar
                esta alma", ela diz "esta alma preciso levar".
            </div>
        </div>
    </div>

    <div class="div" style="padding-bottom: 6vw;">
        <div id="info4" class="infoDireita oculto info">
            <div class="texto-descritivo">
                Anna Marie (também conhecida como Vampira) de “X-MEN”, mesmo não possuindo de forma canônica TDAH é
                popularmente sugerido pelos fãs que ela possui o transtorno
                <div class="bloco-flutuante">
                    <img class="logo" src="/img/VAMPIRA-LOGO.png" alt="logo vampira">
                    <img class="personagem" src="/img/VAMPIRA.png" alt="vampira">
                </div>de déficit de atenção e hiperatividade.
                A teoria
                surge porque algumas características da Vampira se assemelham aos desafios enfrentados por
                pessoas com TDAH, como a impulsividade, a dificuldade com relacionamentos e a dificuldade com
                adaptações.
            </div>
        </div>
        <div id="info5" class="infoDireita oculto info">
            <h3>Informação da Estrela 2</h3>
            <p>Conteúdo específico para a segunda estrela. Quando você clica na estrela 2, esta div aparece.</p>
        </div>
        <div id="info6" class="infoDireita oculto info">
            <h3>Informação da Estrela 3</h3>
            <p>Esta é a informação da terceira estrela. Ela só aparecerá quando a estrela 3 for clicada.</p>
        </div>
        <span class="estrela personagem4" id="estrela4" data-target="info4"></span>
        <span class="estrela personagem5" id="estrela5" data-target="info5"></span>
        <span class="estrela personagem6" id="estrela6" data-target="info6"></span>
        <div class="informacaoDireita">
            <h2><strong>TDAH</strong></h2>
            <p>transtorno de déficit de atenção e hiperatividade é um transtorno do neurodesenvolvimento que tem como
                características a desatenção, a hiperatividade e impulsividade. pessoas que possuem tdah têm maiores
                dificuldades de concentração em atividades e organização, memória de curto prazo e controlar sua própria
                impulsividade em certos momentos. Diferente do que muitos acham, TDAH não é uma doença ou falta de
                inteligência, mas sim uma forma diferente de o cérebro funcionar. Aqui temos alguns personagens que
                possuem TDAH e que convivem com ele diariamente:</p>
        </div>
    </div>

    <div class="div">
        <div class="informacaoEsquerda">
            <h2><strong>TDI</strong></h2>
            <p>O Transtorno Dissociativo de Identidade (TDI) é um transtorno mental raro, causado por traumas graves na
                infância. Ele é caracterizado pela presença de duas ou mais identidades ou "personalidades" que se
                alternam no controle da pessoa, causando perda de memória e desconexão com a realidade. Pessoas com tdi
                tendem a sofrer com a dificuldade de formar ou manter relações pessoais e muitas vezes tem dificuldades
                em se ingressar na sociedade, manter uma carreira e até mesmo conseguir o laudo e validação da sua
                própria condição. Aqui temos alguns personagens que possuem TDI e que convivem com ele diariamente:
            </p>
        </div>
        <span class="estrela personagem1" id="estrela7" data-target="info7"></span>
        <span class="estrela personagem2" id="estrela8" data-target="info8"></span>
        <span class="estrela personagem3" id="estrela9" data-target="info9"></span>
        <div class="div">
            <div id="info7" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 1</h3>
                <p>Aqui estão os detalhes relacionados à primeira estrela. Você pode colocar texto, imagens ou qualquer
                    outro
                    conteúdo aqui.</p>
            </div>
            <div id="info8" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 2</h3>
                <p>Conteúdo específico para a segunda estrela. Quando você clica na estrela 2, esta div aparece.</p>
            </div>
            <div id="info9" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 3</h3>
                <p>Esta é a informação da terceira estrela. Ela só aparecerá quando a estrela 3 for clicada.</p>
            </div>
        </div>
    </div>

    <div class="div">
        <div class="informacaoDireita">
            <h2><strong>TOD</strong></h2>
            <p>O Transtorno Opositor Desafiador (TOD) é um transtorno de comportamento marcado por um padrão duradouro
                de comportamento negativo, desafiador e hostil contra figuras de autoridade. As principais
                características do transtorno são alta irritabilidade e problemas de raiva, baixa tolerância à
                frustração, desafio constante a regras impostas e comportamento vingativo. TOD é um transtorno mais
                frequente em crianças e adolescentes que podem atrapalhar no seu processo de desenvolvimento e
                socialização por sua alta tolerância a seguir regras e limites. Aqui temos alguns personagens da ficção
                que possuem e convivem com esse transtorno diariamente:</p>
        </div>
        <span class="estrela personagem4" id="estrela10" data-target="info10"></span>
        <span class="estrela personagem5" id="estrela11" data-target="info11"></span>
        <span class="estrela personagem6" id="estrela12" data-target="info12"></span>
        <div class="div">
            <div id="info10" class="infoDireita oculto info">
                <h3>Informação da Estrela 1</h3>
                <p>Aqui estão os detalhes relacionados à primeira estrela. Você pode colocar texto, imagens ou qualquer
                    outro
                    conteúdo aqui.</p>
            </div>
            <div id="info11" class="infoDireita oculto info">
                <h3>Informação da Estrela 2</h3>
                <p>Conteúdo específico para a segunda estrela. Quando você clica na estrela 2, esta div aparece.</p>
            </div>
            <div id="info12" class="infoDireita oculto info">
                <h3>Informação da Estrela 3</h3>
                <p>Esta é a informação da terceira estrela. Ela só aparecerá quando a estrela 3 for clicada.</p>
            </div>
        </div>
    </div>

    <div class="div">
        <div class="informacaoEsquerda">
            <h2><strong>Ansiedade</strong></h2>
            <p>A ansiedade é uma reação natural do corpo a situações de perigo. No entanto, ela se torna um problema
                quando é excessiva, persistente e começa a atrapalhar as atividades diárias. A ansiedade pode se
                manifestar de diferentes maneiras, como uma resposta ao estresse ou apenas um susto. Mesmo em casos
                menores é de grande importância dar total apoio para situação evitando agravar os sintomas e torná-lo um
                problema crônico. Assim como na vida real, diversos personagens da ficção sofrem com ansiedade e como as
                pessoas a sua volta lidam como ela, como por exemplo:
            </p>
        </div>
        <span class="estrela personagem1" id="estrela13" data-target="info13"></span>
        <span class="estrela personagem2" id="estrela14" data-target="info14"></span>
        <span class="estrela personagem3" id="estrela15" data-target="info15"></span>
        <div class="div">
            <div id="info13" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 1</h3>
                <p>Aqui estão os detalhes relacionados à primeira estrela. Você pode colocar texto, imagens ou qualquer
                    outro
                    conteúdo aqui.</p>
            </div>
            <div id="info14" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 2</h3>
                <p>Conteúdo específico para a segunda estrela. Quando você clica na estrela 2, esta div aparece.</p>
            </div>
            <div id="info15" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 3</h3>
                <p>Esta é a informação da terceira estrela. Ela só aparecerá quando a estrela 3 for clicada.</p>
            </div>
        </div>
    </div>

    <div class="div">
        <div class="informacaoDireita">
            <h2><strong>Depressão</strong></h2>
            <p>A depressão é uma doença mental séria que causa tristeza persistente e perda de interesse em atividades,
                indo além da tristeza comum tende a ser crônica e recorrente, principalmente quando não é tratada. É
                provocada por fatores como a mudança bioquímica do cérebro, genética e mudanças ambientais. A depressão
                interfere diretamente como o indivíduo se relaciona com o mundo, possuindo sintomas tanto físicos quanto
                mentais, como por exemplo: humor depressivo, falta de apetite, retardo motor, problemas com o sono,
                dificuldade em realizar atividades que antes pertenciam a sua rotina, mal estar físico e entre outros. É
                de grande importância o tratamento e apoio a aqueles que possuem o transtorno. Abaixo temos alguns
                personagens que possuem depressão e lidam com ela de diferentes formas:
            </p>
        </div>
        <span class="estrela personagem4" id="estrela16" data-target="info16"></span>
        <span class="estrela personagem5" id="estrela17" data-target="info17"></span>
        <span class="estrela personagem6" id="estrela18" data-target="info18"></span>
        <div class="div">
            <div id="info16" class="infoDireita oculto info">
                <h3>Informação da Estrela 1</h3>
                <p>Aqui estão os detalhes relacionados à primeira estrela. Você pode colocar texto, imagens ou qualquer
                    outro
                    conteúdo aqui.</p>
            </div>
            <div id="info17" class="infoDireita oculto info">
                <h3>Informação da Estrela 2</h3>
                <p>Conteúdo específico para a segunda estrela. Quando você clica na estrela 2, esta div aparece.</p>
            </div>
            <div id="info18" class="infoDireita oculto info">
                <h3>Informação da Estrela 3</h3>
                <p>Esta é a informação da terceira estrela. Ela só aparecerá quando a estrela 3 for clicada.</p>
            </div>
        </div>
    </div>

    <div class="div">
        <div class="informacaoEsquerda">
            <h2><strong>Narcicismo</strong></h2>
            <p>O Transtorno de Personalidade Narcisista é um transtorno mental em que a pessoa tem um senso inflado de
                sua própria importância. Os principais sintomas do transtorno são: senso de superioridade, necessidade
                de admiração, falta de empatia, arrogância e comportamento manipulador. As causas exatas do TPN são
                desconhecidas, mas podem estar ligadas à genética, a fatores ambientais e a experiências na infância,
                além de ser um transtorno de difícil diagnóstico. Aqui temos alguns personagens que se encaixam no
                transtorno de personalidade narcisista:
            </p>
        </div>
        <span class="estrela personagem1" id="estrela19" data-target="info19"></span>
        <span class="estrela personagem2" id="estrela20" data-target="info20"></span>
        <span class="estrela personagem3" id="estrela21" data-target="info21"></span>
        <div class="div">
            <div id="info19" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 1</h3>
                <p>Aqui estão os detalhes relacionados à primeira estrela. Você pode colocar texto, imagens ou qualquer
                    outro
                    conteúdo aqui.</p>
            </div>
            <div id="info20" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 2</h3>
                <p>Conteúdo específico para a segunda estrela. Quando você clica na estrela 2, esta div aparece.</p>
            </div>
            <div id="info21" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 3</h3>
                <p>Esta é a informação da terceira estrela. Ela só aparecerá quando a estrela 3 for clicada.</p>
            </div>
        </div>
    </div>

    <div class="div">
        <div class="informacaoDireita">
            <h2><strong>Complexo do Héroi</strong></h2>
            <p>O complexo do herói é um termo usado em psicologia para descrever um comportamento em que a pessoa sente
                uma necessidade excessiva de ajudar e salvar os outros. Esse comportamento não é altruísta de verdade,
                pois está ligado a um desejo de ser admirado e se sentir importante. A pessoa com esse complexo busca
                situações onde possa se sacrificar, mesmo que isso não seja necessário, para se sentir especial e ser
                vista como um salvador. É uma forma de lidar com inseguranças e traumas, onde a auto-estima é ligada à
                validação que a pessoa recebe por seus "sacrifícios". Aqui vemos alguns personagens que se encaixam
                perfeitamente no complexo do heroi:
            </p>
        </div>
        <span class="estrela personagem4" id="estrela22" data-target="info22"></span>
        <span class="estrela personagem5" id="estrela23" data-target="info23"></span>
        <span class="estrela personagem6" id="estrela24" data-target="info24"></span>
        <div class="div">
            <div id="info22" class="infoDireita oculto info">
                <h3>Informação da Estrela 1</h3>
                <p>Aqui estão os detalhes relacionados à primeira estrela. Você pode colocar texto, imagens ou qualquer
                    outro
                    conteúdo aqui.</p>
            </div>
            <div id="info23" class="infoDireita oculto info">
                <h3>Informação da Estrela 2</h3>
                <p>Conteúdo específico para a segunda estrela. Quando você clica na estrela 2, esta div aparece.</p>
            </div>
            <div id="info24" class="infoDireita oculto info">
                <h3>Informação da Estrela 3</h3>
                <p>Esta é a informação da terceira estrela. Ela só aparecerá quando a estrela 3 for clicada.</p>
            </div>
        </div>
    </div>

    <div class="div">
        <div class="informacaoEsquerda">
            <h2><strong>Bipolaridade</strong></h2>
            <p>O transtorno bipolar é uma condição psiquiátrica que causa mudanças extremas no humor, energia e
                comportamento de uma pessoa. Essas mudanças alternam entre dois pólos: A fase mania, que no transtorno
                bipolar é um período de aumento de energia e euforia. Nela, a pessoa se sente invencível e otimista,
                tendo pensamentos acelerados, dormindo pouco e se envolvendo em comportamentos de risco, e a fase de
                depressão, que no transtorno bipolar é um período de tristeza profunda. A pessoa sente falta de energia,
                perde o interesse em atividades e pode ter pensamentos negativos. A alternância entre as fases de mania
                e depressão é o que define o transtorno bipolar. Aqui temos alguns personagens que convivem e lidam com
                a bipolaridade diariamente:
            </p>
        </div>
        <span class="estrela personagem1" id="estrela25" data-target="info25"></span>
        <span class="estrela personagem2" id="estrela26" data-target="info26"></span>
        <span class="estrela personagem3" id="estrela27" data-target="info27"></span>
        <div class="div">
            <div id="info25" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 1</h3>
                <p>Aqui estão os detalhes relacionados à primeira estrela. Você pode colocar texto, imagens ou qualquer
                    outro
                    conteúdo aqui.</p>
            </div>
            <div id="info26" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 2</h3>
                <p>Conteúdo específico para a segunda estrela. Quando você clica na estrela 2, esta div aparece.</p>
            </div>
            <div id="info27" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 3</h3>
                <p>Esta é a informação da terceira estrela. Ela só aparecerá quando a estrela 3 for clicada.</p>
            </div>
        </div>
    </div>

    <div class="div">
        <div class="informacaoDireita">
            <h2><strong>Autismo</strong></h2>
            <p>O Transtorno do Espectro Autista (TEA) é uma condição neurológica que afeta a forma como a pessoa se
                relaciona com o mundo, se comunica e interage com os outros. O termo "espectro" é comumente usado porque
                os sintomas variam muito de pessoa para pessoa. Os sinais mais comuns do autismo são dificuldade na
                comunicação e interação social, comportamentos repetitivos e interesses restritos, sensibilidade
                sensorial e entre outros. É importante lembrar que o autismo não é uma doença, mas sim uma forma
                diferente de o cérebro funcionar! Aqui temos alguns personagens que se encaixam ou pertencem ao espectro
                autista:
            </p>
        </div>
        <span class="estrela personagem4" id="estrela28" data-target="info28"></span>
        <span class="estrela personagem5" id="estrela29" data-target="info29"></span>
        <span class="estrela personagem6" id="estrela30" data-target="info30"></span>
        <div class="div">
            <div id="info28" class="infoDireita oculto info">
                <h3>Informação da Estrela 1</h3>
                <p>Aqui estão os detalhes relacionados à primeira estrela. Você pode colocar texto, imagens ou qualquer
                    outro
                    conteúdo aqui.</p>
            </div>
            <div id="info29" class="infoDireita oculto info">
                <h3>Informação da Estrela 2</h3>
                <p>Conteúdo específico para a segunda estrela. Quando você clica na estrela 2, esta div aparece.</p>
            </div>
            <div id="info30" class="infoDireita oculto info">
                <h3>Informação da Estrela 3</h3>
                <p>Esta é a informação da terceira estrela. Ela só aparecerá quando a estrela 3 for clicada.</p>
            </div>
        </div>
    </div>

    <div class="div">
        <div class="informacaoEsquerda">
            <h2><strong>Afeto Pseudobulbar</strong></h2>
            <p>O afeto pseudobulbar (APB), também conhecido como labilidade emocional, é uma condição neurológica
                caracterizada por episódios incontroláveis de choro ou riso. Esses episódios são desproporcionais ou não
                relacionados ao sentimento da pessoa no momento. O APB é causado por danos neurológicos em áreas do
                cérebro que controlam as emoções, os sintomas mais comuns são episódios de riso ou choro repentinos e
                incontroláveis, reações emocionais desproporcionais ou inadequadas ao contexto e a sensação de que o
                corpo não responde às suas emoções. Em resumo, o APB é uma condição que não está ligada à tristeza ou
                alegria da pessoa, mas sim a um problema neurológico que causa a perda de controle sobre as emoções.
                Aqui vemos um personagem muito iconico na midia que possui afeto pseudobulbar:
            </p>
        </div>
        <span class="estrela personagem2" id="estrela31" data-target="info31"></span>
        <div class="div">
            <div id="info31" class="infoEsquerda oculto info">
                <div class="texto-descritivo">
                    O afeto pseudobulbar do Coringa é uma das características populares do personagem e o que faz ele
                    ser tão lembrado, especialmente após o filme Coringa de 2019.
                    <strong>Sua risada incontrolável e inadequada é o principal sintoma do APB.</strong>
                    Coringa demonstra perfeitamente o APB com seus
                    <div class="bloco-flutuante">
                        <img class="logo" src="/img/logo-coringa.png" alt="logo coringa">
                        <img class="personagem" src="/img/curinga.png" alt="Coringa">
                    </div>riso e choro incontroláveis e suas reações emocionais
                    desproporcionais. A história do Coringa é uma exploração das dificuldades de uma pessoa com uma
                    condição neurológica que afeta a
                    sua capacidade de se relacionar com o mundo. O riso, que é a sua
                    marca, é, na verdade, uma manifestação de uma doença, o que torna o personagem ainda mais trágico.
                </div>
            </div>
        </div>
    </div>

    <div class="div">
        <div class="informacaoDireita">
            <h2><strong>Problemas Com Socialização/Ansiedade Social</strong></h2>
            <p>Pessoas com transtorno de ansiedade social costumam se preocupar com o fato de que seu desempenho ou
                ações sejam considerados inadequados, temendo que sua ansiedade se torne visível por meio de suas ações.
                Alguns tipos de ansiedade social estão ligados a situações de desempenho específicas, de modo que a
                ansiedade ocorre apenas quando a pessoa precisa realizar alguma atividade específica em público. A mesma
                atividade desenvolvida em âmbito privado não provoca ansiedade. Aqui temos alguns personagens que
                convivem diariamente com ansiedade social:
            </p>
        </div>
        <span class="estrela personagem4" id="estrela32" data-target="info32"></span>
        <span class="estrela personagem5" id="estrela33" data-target="info33"></span>
        <span class="estrela personagem6" id="estrela34" data-target="info34"></span>
        <div class="div">
            <div id="info32" class="infoDireita oculto info">
                <h3>Informação da Estrela 1</h3>
                <p>Aqui estão os detalhes relacionados à primeira estrela. Você pode colocar texto, imagens ou qualquer
                    outro
                    conteúdo aqui.</p>
            </div>
            <div id="info33" class="infoDireita oculto info">
                <h3>Informação da Estrela 2</h3>
                <p>Conteúdo específico para a segunda estrela. Quando você clica na estrela 2, esta div aparece.</p>
            </div>
            <div id="info34" class="infoDireita oculto info">
                <h3>Informação da Estrela 3</h3>
                <p>Esta é a informação da terceira estrela. Ela só aparecerá quando a estrela 3 for clicada.</p>
            </div>
        </div>
    </div>

    <div class="div">
        <div class="informacaoEsquerda">
            <h2><strong>Superdotação</strong></h2>
            <p>Superdotação é a manifestação de habilidades ou potenciais muito acima da média em áreas como
                intelectual, acadêmica, criativa, social, artística ou psicomotora. Vai além do QI, envolvendo também
                criatividade, motivação e desempenho superior, e exige atendimento educacional adequado para o pleno
                desenvolvimento do indivíduo. A identificação envolve testes e observações, aqui vemos exemplos de
                alguns personagens que apresentam e convivem com a superdotação:
            </p>
        </div>
        <span class="estrela personagem1" id="estrela35" data-target="info35"></span>
        <span class="estrela personagem2" id="estrela36" data-target="info36"></span>
        <span class="estrela personagem3" id="estrela37" data-target="info37"></span>
        <div class="div">
            <div id="info35" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 1</h3>
                <p>Aqui estão os detalhes relacionados à primeira estrela. Você pode colocar texto, imagens ou qualquer
                    outro
                    conteúdo aqui.</p>
            </div>
            <div id="info36" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 2</h3>
                <p>Conteúdo específico para a segunda estrela. Quando você clica na estrela 2, esta div aparece.</p>
            </div>
            <div id="info37" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 3</h3>
                <p>Esta é a informação da terceira estrela. Ela só aparecerá quando a estrela 3 for clicada.</p>
            </div>
        </div>
    </div>

    <div class="div">
        <div class="informacaoDireita">
            <h2><strong>Complexo de Superioridade</strong></h2>
            <p>O complexo de superioridade não é classificado como uma doença, se refere a um comportamento
                caracterizado por sentimentos de superioridade e poder, bem como uma necessidade de ser reconhecido como
                melhor do que os outros. Entretanto, em níveis elevados, pode desencadear em transtornos psicológicos,
                como, por exemplo, transtorno de personalidade narcisista. Nesse sentido, o complexo de superioridade é
                caracterizado por uma percepção distorcida de superioridade em relação aos outros, além de sentimentos
                de arrogância e orgulho excessivos. aqui estão alguns personagens que apresentam essa característica:
            </p>
        </div>
        <span class="estrela personagem4" id="estrela38" data-target="info38"></span>
        <span class="estrela personagem5" id="estrela39" data-target="info39"></span>
        <span class="estrela personagem6" id="estrela40" data-target="info40"></span>
        <div class="div">
            <div id="info38" class="infoDireita oculto info">
                <h3>Informação da Estrela 1</h3>
                <p>Aqui estão os detalhes relacionados à primeira estrela. Você pode colocar texto, imagens ou qualquer
                    outro
                    conteúdo aqui.</p>
            </div>
            <div id="info39" class="infoDireita oculto info">
                <h3>Informação da Estrela 2</h3>
                <p>Conteúdo específico para a segunda estrela. Quando você clica na estrela 2, esta div aparece.</p>
            </div>
            <div id="info40" class="infoDireita oculto info">
                <h3>Informação da Estrela 3</h3>
                <p>Esta é a informação da terceira estrela. Ela só aparecerá quando a estrela 3 for clicada.</p>
            </div>
        </div>
    </div>

    <div class="div">
        <div class="informacaoEsquerda">
            <h2><strong>Esquizofrenia</strong></h2>
            <p>A esquizofrenia é um conjunto de transtornos psiquiátricos que podem apresentar sintomas como delírios
                (crenças falsas), alucinações (percepções sem estímulo real, como ouvir vozes), pensamento desorganizado
                e alterações no comportamento, como isolamento social ou dificuldade para realizar tarefas do dia a dia.
                Sua causa é multifatorial, envolvendo fatores genéticos, neurobiológicos e ambientais,geralmente
                manifestada entre o final da adolescência e início da vida adulta. É importante ressaltar que a
                esquizofrenia não é dupla personalidade e não é um sinal de fraqueza de caráter. Aqui temos personagens
                que possuem esquizofrenia e lidam com elas diariamente:
            </p>
        </div>
        <span class="estrela personagem1" id="estrela41" data-target="info41"></span>
        <span class="estrela personagem2" id="estrela42" data-target="info42"></span>
        <span class="estrela personagem3" id="estrela43" data-target="info43"></span>
        <div class="div">
            <div id="info41" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 1</h3>
                <p>Aqui estão os detalhes relacionados à primeira estrela. Você pode colocar texto, imagens ou qualquer
                    outro
                    conteúdo aqui.</p>
            </div>
            <div id="info42" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 2</h3>
                <p>Conteúdo específico para a segunda estrela. Quando você clica na estrela 2, esta div aparece.</p>
            </div>
            <div id="info43" class="infoEsquerda oculto info">
                <h3>Informação da Estrela 3</h3>
                <p>Esta é a informação da terceira estrela. Ela só aparecerá quando a estrela 3 for clicada.</p>
            </div>
        </div>
    </div>

    <div class="botao-container">
        <span class="estrela esquerda1"></span>
        <span class="estrela esquerda2"></span>
        <span class="estrela esquerda3"></span>
        <button class="botao" type="button">Comente aqui</button>
        <span class="estrela direita1"></span>
        <span class="estrela direita3"></span>
        <span class="estrela direita2"></span>
    </div>

    <script src="/js/transtorno.js"></script>

</body>

</html>