/* TAGS */
body {
    background-image: url('/static/img/backgroundIndex.gif');
    background-size: cover;
}

header {
    display: flex;
}

h1 {
    color: aliceblue;
}

/* IDs */
 #projeto {    
    word-spacing: 45vw;
}

#logo {
    width: 30vw;
    height: 20vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hexagono1 {
    background: #dcb95b;
}

#hexagono2 {
    background: #f4ecd5;
}

#botao1 {
    background-color: #c57c37;
    margin-right: 10vw;
}

#botao2 {
    background-color: #B0800C;
    margin-left: 10vw;
}

#botao3 {
    background-color: #044559;
    margin-left: 41vw;
}

#container1 {
    gap: 28vw;
}

/* CLASSES */
.container {
    display: flex;
    justify-content: center;
}

.hexagono {
    width: 21vw;
    height: 28vh;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(25% 6%, 75% 6%,
            100% 50%, 75% 94%,
            25% 94%, 0% 50%);
    text-align: center;
    padding: 5vh;
    opacity: 0.79;
}

.botao {
    width: 16vw;
    height: 8vh;
    border-style: solid;
    border-radius: 10vw;
    border-width: 1vh;
    border-color: white;
    color: lavender;
}