body {
    background-image: url('/img/background/comentarios-deficiencias.gif');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Libre Baskerville', serif;
}

textarea {
    resize: none;
}

header {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 13vw;
    border-bottom: 0.5vh solid aliceblue;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    color: aliceblue;
}

.digitar {
    background-color: #EBE12A;
    border-radius: 1vw;
    width: 60vw;
    height: fit-content;
    border: none;
    font-size: 1.3rem;
    border-radius: 1vw;
    border: 0.5vh solid aliceblue;
    color: aliceblue;
    padding: 0.5vw;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

.enviar {
    width: 18vw;
    height: fit-content;
    border-radius: 1vw;
    border: none;
    border-radius: 1vw;
    border: 0.5vh solid aliceblue;
    background-color: #c3bd62;
    padding: 1vw;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2rem;
}

.comentario {
    background: linear-gradient(to bottom right, #24289b, #ffea5e);
    display: block;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    border-radius: 1vw;
    border: 0.5vh solid aliceblue;
    width: 50vw;
    height: fit-content;
    padding: 1vw;
    text-align: left;
    position: relative;
    left: 21vw;

}

.formulario {
    display: grid;
    height: fit-content;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-top: 2vw;
    padding-bottom: 3vw;
    gap: 2vw;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.botao-header {
    background-color: transparent;
    font-size: 1.2em;
    border: none;
    padding: 1vh 1vw;
    border-radius: 1vw;
    margin: 2vh 0;
    font-family: 'Libre Baskerville', serif;
}

.botao-header:hover {
    cursor: pointer;
}

#esquerda {
    color: aliceblue;
}

#meio {
    color: aliceblue;
}

#direita {
    color: #ff66c4;
}

#voltar {
    color: aliceblue;
}