body {
  background-image: url('/img/fundo-situações-sociais.gif');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Libre Baskerville', serif;
}

p {
  font-family: 'Libre Baskerville', serif;
  text-align: justify;
  padding: 1vw;
}

h1,
h2,
h3 {
  font-family: 'Libre Baskerville', serif;
}

header {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 13vw;
  border-bottom: 0.5vh solid aliceblue;
}

#informacao {
  background: linear-gradient(90deg, #004aad, #cb6ce6);
  display: block;
  justify-content: center;
  text-align: center;
  color: aliceblue;
  border-radius: 1vw;
  border: 0.75vh solid aliceblue;
  width: 50vw;
  height: 40vh;
  opacity: 0.85;
}

.informacaoEsquerda {
  background: linear-gradient(90deg, #004aad, #cb6ce6);
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: aliceblue;
  border-radius: 1vw;
  border: 0.75vh solid aliceblue;
  width: 35vw;
  height: fit-content;
  margin-left: 1vw;
  opacity: 0.85;
}

.estrela.personagem1 {
  background-image: url('/img/estrela.gif');
  width: 10vw;
  height: 10vh;
  margin-left: 37vw;
}

.estrela.personagem1:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.estrela.personagem2 {
  background-image: url('/img/estrela.gif');
  width: 10vw;
  height: 10vh;
  margin-top: 22vh;
  margin-left: 37vw;
}

.estrela.personagem2:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.estrela.personagem3 {
  background-image: url('/img/estrela.gif');
  width: 10vw;
  height: 10vh;
  margin-top: 45vh;
  margin-left: 37vw;
}

.estrela.personagem3:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.oculto {
    display: none;
}

.info {
    width: 40vw;
    height: fit-content;
    padding: 1vw;
    border: 1px solid #ddd;
    border-radius: 1vw;
    background-color: #ecce7f;
    opacity: 0.85;
    text-align: justify;
    margin-left: 8vw;
}

.div-esquerda {
  display: flex;
  height: fit-content;
  margin-top: 5vh;
}

.pai-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin-top: 5vh;
}

.botao-header {
  background-color: transparent;
  font-size: 1.2em;
  border: none;
  padding: 1vh 1vw;
  border-radius: 1vw;
  margin: 2vh 0;
  font-family: 'Libre Baskerville', serif;
}

.botao-header:hover {
  cursor: pointer;
}

.botao-header:active {
  color: #fde070;
}

#esquerda {
  color: #ff66c4;
}

#meio {
  color: aliceblue;
}

#direita {
  color: aliceblue;
}

#voltar{
  color: aliceblue;
}

.botao-container {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 10vh;
}

.botao {
  width: 50vw;
  height: 10vh;
  background-color: #fde070;
  border: 0.75vh dashed #d49b46;
  color: #d49b46;
  border-radius: 10vh;
  padding: 0 10vw;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

.botao:hover {
  cursor: pointer;
}

.botao:active {
  background-color: aliceblue;
}

.estrela {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.95;
}

/* Estrelas à esquerda */
.estrela.esquerda1 {
  right: 67%;
  background-image: url('/img/star-kawaii-kawaii.gif');
  width: 10vw;
  height: 5vh;
  transform: rotate(-25deg);
  bottom: 80%;
}

.estrela.esquerda2 {
  right: 64%;
  background-image: url('/img/star-kawaii-kawaii.gif');
  width: 12vw;
  height: 7vh;
  transform: rotate(-25deg);
  bottom: 100%;

}

.estrela.esquerda3 {
  right: 63%;
  background-image: url('/img/star-kawaii-kawaii.gif');
  width: 10.7vw;
  height: 5.7vh;
  transform: rotate(20deg);
}

/* Estrelas à direita */
.estrela.direita1 {
  left: 72%;
  background-image: url('/img/star-kawaii-kawaii.gif');
  width: 10vw;
  height: 5vh;
  transform: rotate(15deg);
  top: 87%;
}

.estrela.direita2 {
  left: 73.3%;
  background-image: url('/img/star-kawaii-kawaii.gif');
  width: 12vw;
  height: 7vh;
  transform: rotate(18deg);
  top: 83%;
}

.estrela.direita3 {
  left: 74.5%;
  background-image: url('/img/star-kawaii-kawaii.gif');
  width: 9.5vw;
  height: 4.7vh;
  transform: rotate(10deg);
  top: 40%;
}