/* TAGS */
body {
    background-image: url('/img/background/backgroundIndex.gif');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: aliceblue;
    font-family: 'Libre Baskerville', serif;
}

/* IDs */
#projeto {
    word-spacing: 36.9vw;
}

#caixa1 {
    background: #dcb95b;
    margin-left: 1vw;
    font-size: 0.9em;
    font-family: 'Libre Baskerville', serif;
}

#caixa2 {
    background: #f4ecd5;
    font-size: 0.9em;
    font-family: 'Libre Baskerville', serif;
}

#botao1 {
    background-color: #c57c37;
    margin-left: 16vw;
    font-family: 'Libre Baskerville', serif;
}

#botao2 {
    background-color: #B0800C;
    font-family: 'Libre Baskerville', serif;
}

#botao3 {
    background-color: #044559;
    margin-top: 12.5vh;
    font-family: 'Libre Baskerville', serif;
}

#botao4 {
    background-color: #BB2AEB;
    margin-left: 37.7vw;
    font-family: 'Libre Baskerville', serif;
}

#container1 {
    gap: 12vw;
}

#container2 {
    gap: 5.8vw;
    margin-top: 3vh;
}

#estrelaDosDesejos {
    width: 16vw;
    height: 13vw;
    margin-top: 14vh;
}

/* CLASSES */
.container {
    display: flex;
    justify-content: center;
}

.caixa {
    width: 28vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 5vh;
    opacity: 0.90;
    border-radius: 1vw;
}

.botao {
    width: 16vw;
    height: 8vh;
    border-style: solid;
    border-radius: 10vw;
    border-width: 1vh;
    border-color: white;
    color: lavender;
}

.botao:hover {
    cursor: pointer;
}