<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mais Informações Deficiencia</title>
    <link rel="stylesheet" href="/css/infoDef.css">
</head>

<body>
    <header>
        <button type="button" class="botao-header" id="esquerda"><b>Deficiciências Físicas</b></button>
        <button type="button" class="botao-header" id="meio"><b>Mais Informações</b></button>
        <button type="button" class="botao-header" id="direita"><b>Comentários</b></button>
        <button type="button" class="botao-header" id="voltar"><b>Início</b></button>
    </header>

    <div class="div">
        <div class="curiosidade">
            <h2><b>Sabia que em alguns casos a cegueira pode ser reversível?</b></h2>
            <p>Em alguns casos como catarata, glaucoma, problemas de retina e infecções/inflamações é possível ser
                feitos tratamentos, assim recuperando a visão.</p>
            <h2><b>Quais são as adaptações no ambiente para as pessoas cegas?
                </b></h2>
            <p>Para melhor vivência delas, existem adaptações como: pisos táteis, sinalização em braille/áudio, Locais
                com serviços para cão guia (como bebedouros para o animal) e um design mais confortável para evitar
                colisões.</p>
            <h2><b>Sabe quais são os instrumentos que auxiliam as pessoas cegas?</b></h2>
            <p>Alguns desses instrumentos são: Bengala longa, Softwares e aplicativos de leitura de tela, Relógios
                falantes, Dispositivos de auxílio visual, Sistemas de navegação por GPS com áudio. Alguns ambientes
                públicos, como ônibus, são pintados de amarelo para auxiliar pessoas de baixa visão.</p>
        </div>
    </div>

    <div class="div">
        <div class="curiosidade">
            <h2><b>A surdez pode ser reversível?</b></h2>
            <p>Em alguns casos é possível ser feita cirurgias para reverter a surdez, outros casos pode ser feito um
                implante coclear, que ajuda a recuperar a audição; também tem o método mais conhecido que é utilizar
                aparelhos auditivos.</p>
            <h2><b>Quais são as adaptações/ferramentas para as pessoas surdas?
                </b></h2>
            <p>Existem várias formas de incluí-las, algumas dessas adaptações são: Linguagem de Sinal, Comunicação
                escrita, legendas e acessibilidade em locais públicos.</p>
        </div>
    </div>

    <div class="div">
        <div class="curiosidade">
            <h2><b>Existe uma cura para a paraplegia?</b></h2>
            <p>Atualmente não foi feita uma cura, mas existe sim tratamento. Normalmente é feita fisioterapias ou
                tratamentos para tentar maximizar a função restante, visando prevenir qualquer tipo de complicação.</p>
            <h2><b>Quais são as adaptações no ambiente para as pessoas paraplégicas?
                </b></h2>
            <p>As adaptações feitas para os paraplégicos servem para que consigam viver de forma autônoma, sendo elas as
                rampas e elevadores, portas largas, banheiros, cozinhas e veículos adaptados. Enquanto os instrumentos
                que os auxiliam são as cadeiras de rodas, almofadas especiais, próteses, placas de transferência e
                dispositivos de assistência (como pinças de longo alcance).</p>
        </div>
    </div>

    <div class="div">
        <div class="curiosidade">
            <h2><b>Sabia que existe tratamento para pessoas com malformação congênita/amputação?</b></h2>
            <p>Existem vários tratamentos visando ajudar dependendo da situação e idade da pessoa, como tratamentos de
                reabilitação, fisioterapia, terapia ocupacional e acompanhamento psicológico. Outro tratamento é com
                dispositivos Assistivos, como próteses, órteses e muletas.</p>
            <h2><b>Quais são as adaptações no ambiente para essas pessoas?
                </b></h2>
            <p>As adaptações feitas para essas pessoas são: Adaptações veiculares, utensílios adaptados e Tecnologia
                assistiva. Cada vez mais a tecnologia vem avançando para tornar a vida de pessoas com má formação
                congênita mais confortável.</p>
        </div>
    </div>

    <div class="div">
        <div class="curiosidade">
            <h2><b>Quais são os tratamentos para o daltonismo?</b></h2>
            <p>Por mais que o daltonismo ainda não tenha uma cura, existem abordagens para auxiliar os daltônicos na
                visão das cores, como a terapia gênica ou lentes de contato e óculos especiais.</p>
            <h2><b>Quais inclusões existem para os daltônicos?
                </b></h2>
            <p>No cotidiano para a maior inclusão existem placas com códigos e símbolos, ao invés de sinalizar com base
                nas cores. Com a tecnologia existem softwares, aplicativos com recursos de acessibilidade e óculos de
                correção de cores feitos especialmente para pessoas com daltonismo.</p>
        </div>
    </div>

    <div class="div">
        <div class="curiosidade">
            <h2><b>Quais são os tratamentos para pessoas com baixa visão?</b></h2>
            <p>Os tratamentos em si não são para curar, mas sim para essas pessoas conseguirem utilizar melhor a sua
                visão, mesmo que seja pouca. Elas acabam passando por Terapia de Reabilitação Visual e suporte
                psicológico.</p>
            <h2><b>Quais são as adaptações no ambiente para as pessoas com baixa visão?
                </b></h2>
            <p>Essas pessoas precisam bastante de ambientes mais inclusivos, com iluminação e contraste melhor, além de
                uma boa organização e sinalização do local. Normalmente os instrumentos que os auxiliam durante o dia a
                dia são as lupas, óculos especiais e monóculos/binóculos. Entretanto, não são só instrumentos ópticos
                que os ajudam no dia a dia, existem outros que melhoram sua vivência como um todo, tipo livros com
                letras maiores, áudio livro e leitura de tela, relógios e calculadoras falantes e bengalas. Alguns
                ambientes públicos, como ônibus, são pintados de amarelo para auxiliar pessoas de baixa visão.</p>
        </div>
    </div>

    <div class="div">
        <button type="button" class="topo" id="btnTopo">Voltar ao Topo</button>
    </div>

    <script src="/js/infoDef.js"></script>
</body>

</html>