<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esther</title>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <header>
        <img class="estrela" id="estrela1" src="/static/img/estrelaIndex2.png" alt="estrela">
        <img id="logo" src="/static/img/orgulhoLogo.png" alt="logo">
        <img class="estrela" id="estrela2" src="/static/img/estrelaIndex.png" alt="estrela">
    </header>
    <section>
        <div class="container">
            <img class="estrela" id="estrela3" src="/static/img/estrelaIndex3.png" alt="estrela">
            <h1 id="projeto"><b>PROJETO</b></h1>
            <img class="estrela" id="estrela4" src="/static/img/estrelaIndex3.png" alt="estrela">
            <h1 id="esther" id="esther"><b>ESTHER</b></h1>
        </div>
        <div class="container" id="container1">
            <div class="hexagono" id="hexagono1">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat."
            </div>
            <img class="estrela" id="estrela5" src="/static/img/estrelaIndex3.png" alt="estrela">
            <div class="hexagono" id="hexagono1">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat."
            </div>
        </div>
        <div>
        <button type="button">Transtornos Mentais</button>
        <button type="button">Deficiências</button>
        </div>
        <button type="button">Situações Sociais</button>
    </section>

</body>

</html>