<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esther</title>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <header>
        <img id="logo" src="/static/img/orgulhoLogo.png" alt="logo">
    </header>
    <section>
        <div class="container" id="container1">
            <h1 id="projeto"><b>PROJETO</b></h1>
            <h1 id="esther" id="esther"><b>ESTHER</b></h1>
        </div>
        <div class="container">
            <div class="hexagono" id="hexagono1">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat."
            </div>
            <div class="hexagono" id="hexagono2">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat."
            </div>
        </div>
        <div class="container">
            <button class="botao" id="botao1" type="button">Transtornos Mentais</button>
            <button class="botao" id="botao2" type="button">Deficiências</button>
        </div>
        <button class="botao" id="botao3" type="button">Situações Sociais</button>
    </section>

</body>

</html>