<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esther</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <section>
        <div class="container">
            <h1 id="projeto"><b>PROJETO ESTHER</b></h1>
        </div>
        <div class="container" id="container1">
            <div class="caixa" id="caixa1">
                <i><strong>UM PROJETO QUE VISA DAR VISIBILIDADE PARA OS TRANSTORNOS, DEFICIÊNCIAS E CONDIÇÕES SOCIAIS
                        ATRAVÉS
                        DOS QUADRINHOS, MANGÁS E HISTÓRIAS DE SUPER HEROIS.</strong> Inclusão social é muito mais do que
                    apenas um
                    termo, é um princípio fundamental para a construção de uma sociedade justa, equitativa e próspera.
                    Trata-se de garantir que todas as pessoas, independentemente de suas características sejam incluídas
                    e aceitas.
                    Todos os anos, o Sesi Camaragibe visa utilizar as ferramentas disponíveis para garantir as mesmas
                    oportunidades e o mesmo acesso aos recursos e serviços disponíveis que as pessoas típicas. Esse ano
                    o Sesi utiliza de histórias de super herois para mostrar como a diversidade também está inclusa nos
                    universos ficcionais.

                </i>
            </div>
            <div class="caixa" id="caixa2">
                <i>Esther é um site desenvolvido por um grupo de alunos para o auxílio do entendimento sobre as
                    diversidades sociais e seus enfrentamentos no dia a dia. Esther foi criada com o propósito de
                    ampliar os conhecimentos sobre tais tópicos utilizando da tecnologia. Com o seu principal propósito
                    de conscientizar os visitantes sobre tais assuntos presentes no projeto. </i>
            </div>
        </div>
        <div class="container" id="container2">
            <button class="botao" id="botao1" type="button"><b>Transtornos Mentais</b></button>
            <div>
                <button class="botao" id="botao3" type="button"><b>Situações de Sociabilidade</b></button>
            </div>
            <button class="botao" id="botao2" type="button"><b>Deficiências</b></button>
            <img id="estrelaDosDesejos" src="/img/estrelaDosDesejos.png" alt="logo do evento">
        </div>

    </section>

    <script src="/js/index.js"></script>
</body>

</html>